workflows/1-Mock-Data-and-SubWorkflow__undefined.json
{
  "workflow": {
    "createdAt": "2026-06-29T21:14:39.282Z",
    "id": "hWWL3zuKl8sL1lRb",
    "name": "1 Mock Data and SubWorkflow",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "content": "Customer email with Ticket message\n1. use mock data in trigger\n2. get customer data from google sheet\n3. check if their rating is above 3.8 and totalOrder more then 11 hen mark as VIP\n4. send message to slack team \n5. if not VIP make record on ticket spreadsheet then the team will contact them as soon as can",
          "height": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -320,
          -144
        ],
        "typeVersion": 1,
        "id": "5d7df928-d217-4bf2-bd9c-0d54ff3f1dca",
        "name": "Sticky Note"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          160
        ],
        "id": "42937997-28d7-4667-8173-7236d7f9fae7",
        "name": "Click to execute workflow"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "Email",
                "field2": "userEmail"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          448,
          160
        ],
        "id": "854415f9-2867-4119-8af3-f2b6fe4aa12c",
        "name": "merge ticket message data and customer data"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "yB87FFwytUOGEFXQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/yB87FFwytUOGEFXQ",
            "cachedResultName": "2 Mock Data and SubWorkflow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [
              "customerEmail"
            ],
            "schema": [
              {
                "id": "userEmail",
                "displayName": "userEmail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          224,
          96
        ],
        "id": "a4a3e084-2138-4a12-bd78-5e41db55fb0e",
        "name": "Call '2 Mock Data and SubWorkflow'",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c364cd7f-751b-4fe8-83e3-1a43558fae3a",
                "leftValue": "={{ $json.vip_status }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          672,
          160
        ],
        "id": "f11b7c9f-ba3a-42ae-91b2-93353011bca7",
        "name": "verify VIP status"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0B9809N0QZ",
            "mode": "list",
            "cachedResultName": "operations-dept"
          },
          "text": "=Hey Team,\nPlease check out these ticket messages from customer and make contact with them as soon as possible\n\nCustomer details: \n{{ $json.FullName }},\n{{ $json.Email}}\n",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.5,
        "position": [
          896,
          64
        ],
        "id": "106ac850-4a9f-438e-b6b7-fc6a4c0f5f47",
        "name": "alert team about VIP ticket",
        "webhookId": "f16ad3c3-9345-47ba-a6fe-f2f9eb452d5b",
        "credentials": {
          "slackApi": {
            "id": "HTlCTSjIFJENPdO6",
            "name": "Slack account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.Region }}",
                      "rightValue": "North America",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "9559319c-73a9-4957-91fa-14cf14698056"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "American Campaign"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "120e8cdf-8c25-431b-a981-adddff979dbc",
                      "leftValue": "={{ $json.Region }}",
                      "rightValue": "Middle East",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Middle East"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          896,
          256
        ],
        "id": "fb99841a-e89a-4eb4-a320-a30a40517fff",
        "name": "check regions"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1gNRzrR6mzYtzAkHZJLFE0AzMNS436W4uXzVsvWkD6-Y",
            "mode": "list",
            "cachedResultName": "customer ticker assign to team",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gNRzrR6mzYtzAkHZJLFE0AzMNS436W4uXzVsvWkD6-Y/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gNRzrR6mzYtzAkHZJLFE0AzMNS436W4uXzVsvWkD6-Y/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ticketId": "={{ $json.Email.hash()}}",
              "name": "={{ $json.FullName }}",
              "email": "={{ $json.Email }}",
              "country": "={{ $json.Region }}",
              "team": "={{ $json.Region === 'North America' ? 'North America team' : 'Others team' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ticketId",
                "displayName": "ticketId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "country",
                "displayName": "country",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "team",
                "displayName": "team",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1120,
          256
        ],
        "id": "c145e7b4-a86c-46ce-b345-62fa4fcaf765",
        "name": "make entry of other region in ticket sheet for team to be connected",
        "notesInFlow": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "path": "6f2f7682-4b4a-4282-98ba-93b4d74b22c9",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          256,
          208
        ],
        "id": "eaefb7b1-b815-4093-be3d-c7203a8c5d59",
        "name": "Webhook",
        "webhookId": "6f2f7682-4b4a-4282-98ba-93b4d74b22c9"
      }
    ],
    "connections": {
      "Click to execute workflow": {
        "main": [
          [
            {
              "node": "merge ticket message data and customer data",
              "type": "main",
              "index": 1
            },
            {
              "node": "Call '2 Mock Data and SubWorkflow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "merge ticket message data and customer data": {
        "main": [
          [
            {
              "node": "verify VIP status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '2 Mock Data and SubWorkflow'": {
        "main": [
          [
            {
              "node": "merge ticket message data and customer data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "verify VIP status": {
        "main": [
          [
            {
              "node": "alert team about VIP ticket",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "check regions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check regions": {
        "main": [
          [
            {
              "node": "make entry of other region in ticket sheet for team to be connected",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "make entry of other region in ticket sheet for team to be connected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-06-29T21:14:39.291Z",
        "createdAt": "2026-06-29T21:14:39.291Z",
        "role": "workflow:owner",
        "workflowId": "hWWL3zuKl8sL1lRb",
        "projectId": "Lb300ztv9feaAJz6"
      }
    ],
    "activeVersion": null,
    "tags": [
      {
        "updatedAt": "2026-06-16T14:55:31.622Z",
        "createdAt": "2026-06-16T14:55:31.622Z",
        "id": "YF7kRaLLoZERdRud",
        "name": "learning"
      }
    ]
  },
  "workflowId": "hWWL3zuKl8sL1lRb",
  "workflowName": "1 Mock Data and SubWorkflow"
}