workflows/AutoSave-Gmail-Attachments-to-Google-Drive__kSHSJp15BslEZQYx.json
{
  "workflow": {
    "createdAt": "2026-06-28T19:57:49.218Z",
    "id": "kSHSJp15BslEZQYx",
    "name": "AutoSave Gmail Attachments to Google Drive",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.4,
        "position": [
          0,
          -128
        ],
        "id": "b01169d6-5014-4df9-b95a-36ae362e3595",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "QV3UcajD75i2QUhz",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "messageId": "={{ $json.id }}",
          "simple": false,
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          224,
          -128
        ],
        "id": "224500d8-7e8c-48c5-b68b-ac8e652cb5ab",
        "name": "get attachments from mail",
        "webhookId": "f1d44c75-686d-4391-b952-f9f3974c78fc",
        "credentials": {
          "gmailOAuth2": {
            "id": "QV3UcajD75i2QUhz",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "5ad5d068-1420-4a0d-9f9e-d438bce28d57",
                "leftValue": "={{ $('get attachments from mail').item }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          448,
          -128
        ],
        "id": "37ab4c47-09c1-4113-b05a-4ce0453de8ba",
        "name": "attachments filter"
      },
      {
        "parameters": {
          "fieldToSplitOut": "$binary",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          672,
          -128
        ],
        "id": "9253bb25-8ced-474a-b096-19a954594264",
        "name": "split attachments"
      },
      {
        "parameters": {
          "inputDataFieldName": "={{ Object.keys($binary)[0] }}",
          "name": "={{ $binary[Object.keys($binary)[0]].fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1huGNtL37wTlcDhJHXTuZgZtA59YWCLgb",
            "mode": "list",
            "cachedResultName": "n8n attachments",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1huGNtL37wTlcDhJHXTuZgZtA59YWCLgb"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          896,
          -128
        ],
        "id": "6690d916-0162-4347-a236-4af2a5a3006b",
        "name": "Upload attachments in N8N drive folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "M38vXu8b5UYZJ6ig",
            "name": "Google Drive account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name",
                "renameField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1120,
          -128
        ],
        "id": "3830b643-b07e-479e-bb51-31a352a751e2",
        "name": "merge uploaded message into 1"
      },
      {
        "parameters": {
          "authentication": "webhook",
          "content": "=Following Attachments are Successfully uploaded to google Drive.\n {{ $json.name.join('\\n') }}\nPlease check N8N folder for confirmation.\nThank You",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1344,
          -128
        ],
        "id": "7220b686-5395-40df-8c09-986ed1d35049",
        "name": "send",
        "webhookId": "2b651bce-52fc-470d-8657-820ef9b64543",
        "credentials": {
          "discordWebhookApi": {
            "id": "FJweyQP8hFnNf2fd",
            "name": "Discord Webhook account"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "get attachments from mail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get attachments from mail": {
        "main": [
          [
            {
              "node": "attachments filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "attachments filter": {
        "main": [
          [
            {
              "node": "split attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "split attachments": {
        "main": [
          [
            {
              "node": "Upload attachments in N8N drive folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload attachments in N8N drive folder": {
        "main": [
          [
            {
              "node": "merge uploaded message into 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "merge uploaded message into 1": {
        "main": [
          [
            {
              "node": "send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "errorWorkflow": "aue2mu3q4fW1hMIE",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": {
      "node:Gmail Trigger": {
        "Gmail Trigger": {
          "lastTimeChecked": 1782906120,
          "possibleDuplicates": [
            "19f1d7c6998ab0eb",
            "19f1d7acb7c98d75"
          ]
        }
      }
    },
    "activeVersionId": null,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-06-28T19:57:49.228Z",
        "createdAt": "2026-06-28T19:57:49.228Z",
        "role": "workflow:owner",
        "workflowId": "kSHSJp15BslEZQYx",
        "projectId": "Lb300ztv9feaAJz6"
      }
    ],
    "activeVersion": null,
    "tags": [
      {
        "updatedAt": "2026-06-16T14:55:31.622Z",
        "createdAt": "2026-06-16T14:55:31.622Z",
        "id": "YF7kRaLLoZERdRud",
        "name": "learning"
      }
    ]
  },
  "workflowId": "kSHSJp15BslEZQYx",
  "workflowName": "AutoSave Gmail Attachments to Google Drive"
}