workflows/code-node__zWJlCdv8oc0FMMUb.json
{
  "createdAt": "2026-06-18T22:27:24.491Z",
  "id": "zWJlCdv8oc0FMMUb",
  "name": "code node",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        672
      ],
      "id": "13024018-4b0a-4140-ba70-ed42098dbd10",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-i3rlU3a5T1WdCBs2-FMJ2Ce46phJwCUh5_zAsdvINA",
          "mode": "list",
          "cachedResultName": "Order_Data_60_Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i3rlU3a5T1WdCBs2-FMJ2Ce46phJwCUh5_zAsdvINA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 316013683,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i3rlU3a5T1WdCBs2-FMJ2Ce46phJwCUh5_zAsdvINA/edit#gid=316013683"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        576
      ],
      "id": "4094c874-ba88-4c62-8ecf-d65533a3e597",
      "name": "orders sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IPpilLhGt9T6W9RmYYE8gFobp_xYwLUCreCc9SZR61c",
          "mode": "list",
          "cachedResultName": "Order_Product_Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IPpilLhGt9T6W9RmYYE8gFobp_xYwLUCreCc9SZR61c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1133415460,
          "mode": "list",
          "cachedResultName": "Order_Product_Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IPpilLhGt9T6W9RmYYE8gFobp_xYwLUCreCc9SZR61c/edit#gid=1133415460"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        768
      ],
      "id": "930aa07f-8ea0-4585-9437-85747eb48613",
      "name": "order details with product sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Order_ID",
              "field2": "Order_ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        672
      ],
      "id": "a404194c-3fca-473d-9572-a283d558ce09",
      "name": "merge data from two files"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet orders = {}\nfor (const item of $input.all()) {\n  let order_id = item.json.Order_ID\n  let quantity = item.json.Quantity\n  let unit_price = item.json.Unit_Price\n  if (!orders[order_id]) {\n    orders[order_id] = {\n      order_number: item.json.Order_Number,\n      total:0\n    };\n  };\n  let Total_Price = quantity*unit_price\n  item.json.Total_Price = Total_Price\n  orders[order_id].total += Total_Price\nconsole.log(orders[order_id])\n  \n console.log('Order ID: ',order_id)\n console.log('Quantity',quantity)\n console.log('Price',unit_price)\n  console.log('Total Price',quantity*unit_price)\n}\nconst orderIds = Object.keys(orders)\nconsole.log(orderIds)\nlet ordersTotalPrice = []\nfor (const id of orderIds) {\n  ordersTotalPrice.push({\n    json:{\n      order_id: id,\n      order_number: orders[id].order_number,\n      orderTotal: Number(orders[id].total.toFixed(2))\n    }\n  });\n}\nconsole.log(Object.entries(orders))\n\nreturn ordersTotalPrice;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        672
      ],
      "id": "1f27e7a3-665b-4fa0-81fe-90ed93e212fb",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "orders sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "order details with product sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "orders sheet": {
      "main": [
        [
          {
            "node": "merge data from two files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order details with product sheet": {
      "main": [
        [
          {
            "node": "merge data from two files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge data from two files": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-18T22:27:24.498Z",
      "createdAt": "2026-06-18T22:27:24.498Z",
      "role": "workflow:owner",
      "workflowId": "zWJlCdv8oc0FMMUb",
      "projectId": "Lb300ztv9feaAJz6"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-16T14:55:31.622Z",
      "createdAt": "2026-06-16T14:55:31.622Z",
      "id": "YF7kRaLLoZERdRud",
      "name": "learning"
    }
  ]
}