workflows/error-workflow__aue2mu3q4fW1hMIE.json
{
  "updatedAt": "2026-07-01T18:34:18.736Z",
  "createdAt": "2026-07-01T11:11:12.033Z",
  "id": "aue2mu3q4fW1hMIE",
  "name": "error workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -48
      ],
      "id": "ac4ee891-f000-455f-a300-43dbfb3c9374",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Owner Email\"] }}",
        "subject": "=Error occured in WorkFlow: {{ $json.workflow.name }}",
        "message": "=<h2>🚨 n8n Workflow Failure Alert</h2>\n<p>A workflow has failed and requires attention.</p>\n\n<hr>\n\n<h3>Workflow Details</h3>\n\n<ul>\n  <li><strong>Workflow:</strong> {{ $json.workflow.name }}</li>\n  <li><strong>Execution ID:</strong> {{ $json.execution.id }}</li>\n  <li><strong>Failed Node:{{ $json.execution.lastNodeExecuted }}</strong> </li>\n  <li><strong>Time:</strong> {{ $now }}</li>\n</ul>\n\n<h3>Error Details</h3>\n\n<p><strong>Message:{{ $json.execution.error.message }}</strong></p>\n\n<pre></pre>\n\n<p><strong>Stack Trace:</strong></p>\n\n<pre>{{ $json.execution.error.stack }}</pre>\n\n<hr>\n\n<p>\nPlease review the workflow execution in n8n and resolve the issue.\n<a href=\"{{ $json.execution.url }}\">Debug here!</a>\n\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -144
      ],
      "id": "5a60ec5b-7db4-4cf7-b455-7ea14be21848",
      "name": "Send a message",
      "webhookId": "5cff05ad-eba2-400d-a4c6-83c400aa85f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "QV3UcajD75i2QUhz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XmcrjmohqnFD7FUg8YdCbfh7Y6aGVSq0T983fgF4hok",
          "mode": "list",
          "cachedResultName": "workflow_owner_directory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XmcrjmohqnFD7FUg8YdCbfh7Y6aGVSq0T983fgF4hok/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 923239332,
          "mode": "list",
          "cachedResultName": "Workflow Owners",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XmcrjmohqnFD7FUg8YdCbfh7Y6aGVSq0T983fgF4hok/edit#gid=923239332"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Workflow Name",
              "lookupValue": "={{ $json.workflow.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -48
      ],
      "id": "5935aa0b-5625-4624-a7fc-c7d13ebae220",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BENEGH1FE",
          "mode": "list",
          "cachedResultName": "failed-workflows"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚨 Workflow Failed\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Workflow:*\\n{{ $json.workflow.name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Execution ID:*\\n{{ $json.execution.id }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Failed Node:*\\n{{ $json.execution.lastNodeExecuted }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Time:*\\n{{ $now }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error Message*\\n```{{ $json.execution.error.message }}```\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Workflow URL*\\n<{{ $json.execution.url }}|Open Failed Execution>\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Generated automatically by your n8n Error Workflow.\"\n        }\n      ]\n    }\n  ]\n}",
        "text": "check",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        448,
        48
      ],
      "id": "013647dd-c1d9-412a-a0e5-81e25f21e360",
      "name": "Send a message1",
      "webhookId": "548fbda3-8e91-4ac1-bac1-e45d3f5ffe41",
      "credentials": {
        "slackApi": {
          "id": "HTlCTSjIFJENPdO6",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": 231,
            "url": "https://n8n.fahadwebdev119.org/execution/workflow/1/231",
            "retryOf": "34",
            "error": {
              "message": "Example Error Message",
              "stack": "Stacktrace"
            },
            "lastNodeExecuted": "Node With Error",
            "mode": "manual"
          },
          "workflow": {
            "id": "1",
            "name": "Example Workflow"
          }
        }
      }
    ]
  },
  "versionId": "9519811d-6e4e-41cb-aa74-77ae2a3fa2ae",
  "activeVersionId": "a6435e6f-ed8b-4f87-96b4-0ec18cd3ee50",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-01T11:11:12.038Z",
      "createdAt": "2026-07-01T11:11:12.038Z",
      "role": "workflow:owner",
      "workflowId": "aue2mu3q4fW1hMIE",
      "projectId": "Lb300ztv9feaAJz6"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-01T17:58:33.000Z",
    "createdAt": "2026-07-01T17:57:56.899Z",
    "versionId": "a6435e6f-ed8b-4f87-96b4-0ec18cd3ee50",
    "workflowId": "aue2mu3q4fW1hMIE",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "ac4ee891-f000-455f-a300-43dbfb3c9374",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "sendTo": "fahad.testing119@gmail.com",
          "subject": "=Error occured in WorkFlow: {{ $json.workflow.name }}",
          "message": "=<h2>🚨 n8n Workflow Failure Alert</h2>\n\n<p>A workflow has failed and requires attention.</p>\n\n<hr>\n\n<h3>Workflow Details</h3>\n\n<ul>\n  <li><strong>Workflow:</strong> {{ $json.workflow.name }}</li>\n  <li><strong>Execution ID:</strong> {{ $json.execution.id }}</li>\n  <li><strong>Failed Node:{{ $json.execution.lastNodeExecuted }}</strong> </li>\n  <li><strong>Time:</strong> {{ $now }}</li>\n</ul>\n\n<h3>Error Details</h3>\n\n<p><strong>Message:{{ $json.execution.error.message }}</strong></p>\n\n<pre></pre>\n\n<p><strong>Stack Trace:</strong></p>\n\n<pre>{{ $json.execution.error.stack }}</pre>\n\n<hr>\n\n<p>\nPlease review the workflow execution in n8n and resolve the issue.\n<a href=\"{{ $json.execution.url }}\">Debug here!</a>\n\n</p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          288,
          -160
        ],
        "id": "5a60ec5b-7db4-4cf7-b455-7ea14be21848",
        "name": "Send a message",
        "webhookId": "5cff05ad-eba2-400d-a4c6-83c400aa85f8",
        "credentials": {
          "gmailOAuth2": {
            "id": "QV3UcajD75i2QUhz",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1XmcrjmohqnFD7FUg8YdCbfh7Y6aGVSq0T983fgF4hok",
            "mode": "list",
            "cachedResultName": "workflow_owner_directory",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XmcrjmohqnFD7FUg8YdCbfh7Y6aGVSq0T983fgF4hok/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 923239332,
            "mode": "list",
            "cachedResultName": "Workflow Owners",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XmcrjmohqnFD7FUg8YdCbfh7Y6aGVSq0T983fgF4hok/edit#gid=923239332"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Workflow Name",
                "lookupValue": "={{ $json.workflow.name }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          272,
          144
        ],
        "id": "5935aa0b-5625-4624-a7fc-c7d13ebae220",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "console.log($json);\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          -16
        ],
        "id": "1295f202-a014-4e9c-b8d1-9d17070ed09a",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Muhammad fahad.webdev119@gmail.com",
    "name": "Version a6435e6f",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-06-16T14:55:31.622Z",
      "createdAt": "2026-06-16T14:55:31.622Z",
      "id": "YF7kRaLLoZERdRud",
      "name": "learning"
    }
  ]
}