workflows/My-workflow-4__rj2aeJTkr7EmBIca.json
{
  "updatedAt": "2026-07-13T23:58:01.264Z",
  "createdAt": "2026-07-13T20:06:26.670Z",
  "id": "rj2aeJTkr7EmBIca",
  "name": "My workflow 4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "78c09c56-fb2d-4d55-ab0b-c29351538797",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74485e11-8722-478f-9680-20b0d5ad42e9",
              "name": "owner",
              "value": "fahad09011",
              "type": "string"
            },
            {
              "id": "151d5cb2-beb2-4dd6-aaaf-509b39da64b4",
              "name": "repo",
              "value": "n8n-git-sync",
              "type": "string"
            },
            {
              "id": "1d760a26-6b45-4d59-be9a-2ef7df6af432",
              "name": "branch",
              "value": "main",
              "type": "string"
            },
            {
              "id": "297cca81-bd11-4546-b4dd-c6081ffa9ed5",
              "name": "folder",
              "value": "workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        304
      ],
      "id": "05d26f19-7bf2-4da1-9cb6-b7b533815cf7",
      "name": "Configuration"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        304
      ],
      "id": "41460815-2582-4c53-9e3f-e3e889dfff3b",
      "name": "HTTP Request",
      "credentials": {
        "airtableTokenApi": {
          "id": "8UJKZeYYabeNEdhg",
          "name": "Airtable Personal Access Token account 2"
        },
        "httpHeaderAuth": {
          "id": "MbiTjhQ9FccAQ1Bn",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "id": "ac8fb1dd-694b-4a2a-91b0-5b61112b73a3",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "AmOXDOcx065siGYp",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all incoming items at once as a plain array\nconst items = $input.all();\n\n// 2. Map over every item to clean and transform the data\nconst processedItems = items.map(item => {\n  // Use the spread operator to strip unwanted keys from the JSON object\n  const { updatedAt, versionId, meta, pinData, ...workflow } = item.json;\n\n  return {\n    json: {\n      workflow,\n      workflowId: workflow.id,\n      workflowName: workflow.name\n    }\n  };\n});\n\n// 3. Return the entire array so n8n outputs them all together\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        224
      ],
      "id": "f024c2f4-11cb-4b7a-9028-b14e56b47f9e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{\n\"workflows/\" +\n$json.name\n.replace(/[<>:\"/\\\\|?*]/g, \"\")\n.replace(/\\s+/g,\"-\")\n.replace(/-+/g,\"-\") +\n\"__\" +\n$json.id +\n\".json\"\n}}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=={{\"chore(sync): add \" + $json.name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        -64
      ],
      "id": "e7e2059b-74af-4886-b01a-a5e79d3c6cd3",
      "name": "Create a file",
      "webhookId": "921bdb66-d28d-4d38-8f47-ed00b6f1e532",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "test.txt",
        "fileContent": "Hello World",
        "commitMessage": "Test"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1168,
        112
      ],
      "id": "056b4730-56d4-4587-bea6-dfe9253c8fb2",
      "name": "Create a file1",
      "webhookId": "5d0ba405-6a9a-4e0b-9291-efddd65be30f",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6bc4e9f8-c44f-4414-84ad-58045e39f211",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-13T20:06:26.676Z",
      "createdAt": "2026-07-13T20:06:26.676Z",
      "role": "workflow:owner",
      "workflowId": "rj2aeJTkr7EmBIca",
      "projectId": "Lb300ztv9feaAJz6"
    }
  ],
  "activeVersion": null,
  "tags": []
}