workflows/My-workflow-4__rj2aeJTkr7EmBIca.json
{
  "createdAt": "2026-07-13T20:06:26.670Z",
  "id": "rj2aeJTkr7EmBIca",
  "name": "My workflow 4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "78c09c56-fb2d-4d55-ab0b-c29351538797",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74485e11-8722-478f-9680-20b0d5ad42e9",
              "name": "owner",
              "value": "fahad09011",
              "type": "string"
            },
            {
              "id": "151d5cb2-beb2-4dd6-aaaf-509b39da64b4",
              "name": "repo",
              "value": "n8n-git-sync",
              "type": "string"
            },
            {
              "id": "1d760a26-6b45-4d59-be9a-2ef7df6af432",
              "name": "branch",
              "value": "main",
              "type": "string"
            },
            {
              "id": "297cca81-bd11-4546-b4dd-c6081ffa9ed5",
              "name": "folder",
              "value": "workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -64
      ],
      "id": "05d26f19-7bf2-4da1-9cb6-b7b533815cf7",
      "name": "Configuration"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        448,
        -64
      ],
      "id": "ac8fb1dd-694b-4a2a-91b0-5b61112b73a3",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "AmOXDOcx065siGYp",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all incoming items at once as a plain array\nconst items = $input.all();\n\n// 2. Map over every item to clean and transform the data\nconst processedItems = items.map(item => {\n  // Use the spread operator to strip unwanted keys from the JSON object\n  const { updatedAt, versionId, meta, pinData, ...workflow } = item.json;\n\n  return {\n    json: {\n      workflow,\n      workflowId: workflow.id,\n      workflowName: workflow.name\n    }\n  };\n});\n\n// 3. Return the entire array so n8n outputs them all together\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -64
      ],
      "id": "f024c2f4-11cb-4b7a-9028-b14e56b47f9e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{ \"workflows/\" + $('Get many workflows').item.json.name .replace(/[<>:\"/\\\\|?*]/g, \"\") .replace(/\\s+/g,\"-\") .replace(/-+/g,\"-\") + \"__\" + $('Get many workflows').item.json.id + \".json\" }}",
        "fileContent": "={{ JSON.stringify($json.work, null, 2) }}",
        "commitMessage": "={{\"chore(sync): update \" + $('Get many workflows').item.json.name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1344,
        -160
      ],
      "id": "9990fa2f-8545-43d2-ab56-e0f4a367eff5",
      "name": "Edit a file",
      "webhookId": "e0902c12-6ed9-4113-8496-86251e655f1e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{\n\"workflows/\" +\n$('Get many workflows').item.json.name\n.replace(/[<>:\"/\\\\|?*]/g, \"\")\n.replace(/\\s+/g,\"-\")\n.replace(/-+/g,\"-\") +\n\"__\" +\n$('Get many workflows').item.json.id +\n\".json\"\n}}",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "={{\"chore(sync): add \" + $('Get many workflows').item.json.name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1344,
        32
      ],
      "id": "a740f9d4-aadd-4d09-8f4d-2b37239a17a6",
      "name": "Create a file1",
      "webhookId": "921bdb66-d28d-4d38-8f47-ed00b6f1e532",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{\n\"workflows/\" +\n$('Get many workflows').item.json.name\n.replace(/[<>:\"/\\\\|?*]/g, \"\")\n.replace(/\\s+/g,\"-\")\n.replace(/-+/g,\"-\") +\n\"__\" +\n$('Get many workflows').item.json.id +\n\".json\"\n}}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        896,
        -64
      ],
      "id": "e7e2059b-74af-4886-b01a-a5e79d3c6cd3",
      "name": "Get a file",
      "webhookId": "921bdb66-d28d-4d38-8f47-ed00b6f1e532",
      "retryOnFail": true,
      "waitBetweenTries": 100,
      "maxTries": 2,
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29e927cc-69d2-4c5f-8670-2f27c90a4e7d",
              "name": "content",
              "value": "={{ $json.content.base64Decode() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -144
      ],
      "id": "b3732aa1-770c-4e8d-9293-f136fe46a391",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-13T20:06:26.676Z",
      "createdAt": "2026-07-13T20:06:26.676Z",
      "role": "workflow:owner",
      "workflowId": "rj2aeJTkr7EmBIca",
      "projectId": "Lb300ztv9feaAJz6"
    }
  ],
  "activeVersion": null,
  "tags": []
}