workflows/n8n-git-sync__rj2aeJTkr7EmBIca/n8n-git-sync.json
{
  "createdAt": "2026-07-13T20:06:26.670Z",
  "id": "rj2aeJTkr7EmBIca",
  "name": "n8n-git-sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "id": "78c09c56-fb2d-4d55-ab0b-c29351538797",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"github\": {\n    \"owner\": \"fahad09011\",\n    \"repository\": \"n8n-git-sync\",\n    \"branch\": \"main\",\n    \"workflowFolder\": \"workflows\"\n  },\n  \"documentation\": {\n    \"enabled\": true,\n    \"provider\": \"null\",\n    \"approval\": \"none\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        64
      ],
      "id": "05d26f19-7bf2-4da1-9cb6-b7b533815cf7",
      "name": "Configuration"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        448,
        64
      ],
      "id": "ac8fb1dd-694b-4a2a-91b0-5b61112b73a3",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "AmOXDOcx065siGYp",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        -32
      ],
      "id": "2e3c893a-756f-4c5d-b9f9-c6e0e8505296",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "40482ce9-b0df-4fe4-8cc9-7ccdd725d790",
              "leftValue": "={{ $json.changed }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        -128
      ],
      "id": "04d6f3ca-2c3e-434a-b564-9865003dbeb4",
      "name": "check if there is any update in workflow file"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Configuration').first().json;\n\nconst github = config.github;\n\nreturn $input.all().map(item => {\n\n  const {\n    updatedAt,\n    versionId,\n    meta,\n    pinData,\n    ...workflow\n  } = item.json;\n\n  // Stable folder name (contains workflow ID)\n  const workflowFolder =\n    workflow.name\n      .replace(/[<>:\"/\\\\|?*]/g, '')\n      .replace(/\\s+/g, '-')\n      .replace(/-+/g, '-') +\n    '__' +\n    workflow.id;\n\n  // Human-readable JSON filename\n  const workflowFile =\n    workflow.name\n      .replace(/[<>:\"/\\\\|?*]/g, '')\n      .trim() +\n    '.json';\n\nreturn {\n  json: {\n    workflow,\n    workflowId: workflow.id,\n    workflowName: workflow.name,\n\n    workflowFolder,\n    workflowFile,\n\n    owner: github.owner,\n    repo: github.repository,\n    branch: github.branch,\n    folder: github.workflowFolder,\n\n    documentation: config.documentation\n  }\n};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        64
      ],
      "id": "f024c2f4-11cb-4b7a-9028-b14e56b47f9e",
      "name": "Prepare Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{ $json.folder + \"/\" + $json.workflowFolder + \"/\" + $json.workflowFile }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        896,
        64
      ],
      "id": "e7e2059b-74af-4886-b01a-a5e79d3c6cd3",
      "name": "Get Workflow File from GitHub",
      "webhookId": "921bdb66-d28d-4d38-8f47-ed00b6f1e532",
      "retryOnFail": true,
      "waitBetweenTries": 100,
      "maxTries": 2,
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  // Decode Base64 safely using native Node.js Buffers\n  const decodedText = Buffer.from(item.json.content, 'base64').toString('utf-8');\n  \n  // Parse the decoded text string into a JSON object\n  const githubWorkflow = JSON.parse(decodedText);\n\n  // Remove fields that should not trigger a Git commit\n  delete githubWorkflow.updatedAt;\n  delete githubWorkflow.versionId;\n  delete githubWorkflow.meta;\n  delete githubWorkflow.pinData;\n\n  // Push the cleaned workflow along with its unique GitHub SHA\n  results.push({\n    json: {\n      githubWorkflow,\n      sha: item.json.sha,\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -128
      ],
      "id": "7f244a13-d5d5-4d9b-98ca-cd497fbbe8b4",
      "name": "Decode GitHub Content"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst currentItems = $('Prepare Workflow').all();\nconst githubItems = $input.all();\n\nfor (let i = 0; i < githubItems.length; i++) {\n\n  const workflow = currentItems[i].json.workflow;\n  const githubWorkflow = githubItems[i].json.githubWorkflow;\n\n  const changed =\n    JSON.stringify(workflow) !== JSON.stringify(githubWorkflow);\n\n  results.push({\n  json: {\n    ...currentItems[i].json,\n    githubWorkflow: githubItems[i].json.githubWorkflow,\n    sha: githubItems[i].json.sha,\n    changed\n  }\n});\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -128
      ],
      "id": "b20740c6-c7f5-4451-91b3-446a520d0788",
      "name": "Compare Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{ $json.folder + \"/\" + $json.workflowFolder + \"/\" + $json.workflowFile }}",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "={{\"chore(sync): update \" + $('Get many workflows').item.json.name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1920,
        -224
      ],
      "id": "9990fa2f-8545-43d2-ab56-e0f4a367eff5",
      "name": "Update Workflow File",
      "webhookId": "e0902c12-6ed9-4113-8496-86251e655f1e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "fahad09011",
          "mode": "list",
          "cachedResultName": "fahad09011",
          "cachedResultUrl": "https://github.com/fahad09011"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-git-sync",
          "mode": "list",
          "cachedResultName": "n8n-git-sync",
          "cachedResultUrl": "https://github.com/fahad09011/n8n-git-sync"
        },
        "filePath": "={{ $json.folder + \"/\" + $json.workflowFolder + \"/\" + $json.workflowFile }}",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "={{\"chore(sync): add \" + $('Get many workflows').item.json.name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1120,
        160
      ],
      "id": "a740f9d4-aadd-4d09-8f4d-2b37239a17a6",
      "name": "Create Workflow File",
      "webhookId": "921bdb66-d28d-4d38-8f47-ed00b6f1e532",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D0VNQCvkPwv3DZQTZCSlmyyHOmpJYMyzVqEuc064NrM",
          "mode": "list",
          "cachedResultName": "n8n_practice_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D0VNQCvkPwv3DZQTZCSlmyyHOmpJYMyzVqEuc064NrM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1664312685,
          "mode": "list",
          "cachedResultName": "Sales Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D0VNQCvkPwv3DZQTZCSlmyyHOmpJYMyzVqEuc064NrM/edit#gid=1664312685"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "n",
            "Product": "n",
            "Quantity": "n",
            "Price": "n",
            "Total": "n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -224
      ],
      "id": "f463e2d2-0094-431e-97d2-035ab41d07e8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41649c77-1859-4335-9df9-e14b2eff46d5",
              "leftValue": "={{ $('Get Workflow File from GitHub').item.json.documentation.enabled }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        160
      ],
      "id": "279fe83a-e7a9-471e-ae26-1f769039b6dd",
      "name": "Generate README.md ?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "fahad09011"
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": "n8n-git-sync"
        },
        "filePath": "={{ $('Get Workflow File from GitHub').item.json.folder + \"/\" + $('Get Workflow File from GitHub').item.json.workflowFolder + \"/README.md\" }}",
        "fileContent": "=# {{ $('Get Workflow File from GitHub').item.json.workflowName }}  > Documentation has not been generated yet.  This README is managed by GitSync for n8n.  You can edit this file manually.  Future versions can generate this README automatically using AI.  ---  ## Repository Files  - {{ $('Get Workflow File from GitHub').item.json.workflowFile }} - README.md  ---  Generated by GitSync",
        "commitMessage": "=docs: add README for {{ $('Get Workflow File from GitHub').item.json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2016,
        288
      ],
      "id": "18c45f99-9ac2-4911-abe6-8b07a8e6d8e1",
      "name": "Create a README.md",
      "webhookId": "b65fcdc2-3c9a-4fb2-b2c3-10958189168c",
      "credentials": {
        "githubOAuth2Api": {
          "id": "4PJ5LFfzZgNqTF8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "# Customer Onboarding\n\n> Automatically processes new customer registrations and notifies the sales team.\n\n| Property | Value |\n|----------|-------|\n| Status | ✅ Active |\n| Trigger | Webhook |\n| Last Sync | 2026-07-15 |\n| GitSync Version | v1.0 |\n\n\n# {{ Workflow Name }}\n\n> {{ One sentence describing what this workflow does. }}\n\n---\n\n## 📌 Overview\n\n{{ 2–4 sentence overview }}\n\nExplain what this workflow automates, why it exists, and what outcome it produces.\n\n---\n\n## 🎯 Purpose\n\n{{ Business purpose }}\n\nExample:\n\nThis workflow automates the customer onboarding process by validating incoming requests, creating customer records, notifying internal teams, and sending confirmation emails.\n\n---\n\n## ⚡ Trigger\n\n| Type | Description |\n|------|-------------|\n| Webhook | Receives customer registration requests |\n\nExamples:\n\n- Manual Trigger\n- Webhook\n- Schedule\n- Slack Event\n- Form Submission\n- Email Trigger\n\n---\n\n## 🔄 Workflow Summary\n\n```text\nWebhook\n    │\nValidate Request\n    │\nCreate Customer\n    │\nGenerate Invoice\n    │\nSend Welcome Email\n    │\nNotify Slack\n```\n\nA simple high-level flow.\n\nNot every node.\n\n---\n\n## 🔌 Integrations\n\nThis workflow communicates with:\n\n| Service | Purpose |\n|----------|----------|\n| Slack | Team notifications |\n| OpenAI | AI processing |\n| Google Sheets | Store customer data |\n| Gmail | Send emails |\n\nOnly include detected integrations.\n\n---\n\n## 📥 Inputs\n\nWhat starts this workflow?\n\nExample\n\n- Webhook payload\n- Google Form\n- Slack command\n- Cron schedule\n\n---\n\n## 📤 Outputs\n\nWhat does this workflow produce?\n\nExamples\n\n- Customer created\n- Email sent\n- Google Sheet updated\n- Slack notification delivered\n\n---\n\n## ⚙️ Requirements\n\nThis workflow requires:\n\n- Slack credentials\n- OpenAI credentials\n- Gmail account\n\nOnly include requirements detected from the workflow.\n\nNever invent credentials.\n\n---\n\n## 🏷 Tags\n\n- AI\n- Sales\n- Learning\n- Automation\n\n---\n\n## 📝 Notes\n\nAnything important another developer should know.\n\nExamples\n\n- Uses environment variables\n- Webhook must be registered\n- Requires external API access\n\nIf nothing important is detected:\n\n> No special requirements detected.\n\n---\n\n## 📂 Repository Files\n\n| File | Description |\n|------|-------------|\n| `{{ Workflow Name }}.json` | Workflow definition managed automatically by GitSync |\n| `README.md` | Documentation generated by AI and editable by you |\n\n---\n\n## 🤖 Generated by GitSync for n8n\n\nThis README was generated automatically by GitSync for n8n.\n\nYou are free to edit this file manually.\n\nFuture AI-generated updates will require your approval before replacing this documentation.",
              "role": "model"
            },
            {
              "content": "={{ JSON.stringify($('Prepare Workflow').item.json.workflow, null, 2) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1568,
        64
      ],
      "id": "df213d2d-7b4b-4794-b014-d9ab1c381172",
      "name": "Generate README",
      "credentials": {
        "googlePalmApi": {
          "id": "zl328ab0prIopPjj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Prepare Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if there is any update in workflow file": {
      "main": [
        [
          {
            "node": "Update Workflow File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow": {
      "main": [
        [
          {
            "node": "Get Workflow File from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow File from GitHub": {
      "main": [
        [
          {
            "node": "Decode GitHub Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Workflow File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode GitHub Content": {
      "main": [
        [
          {
            "node": "Compare Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Workflow": {
      "main": [
        [
          {
            "node": "check if there is any update in workflow file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow File": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow File": {
      "main": [
        [
          {
            "node": "Generate README.md ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate README.md ?": {
      "main": [
        [
          {
            "node": "Create a README.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-13T20:06:26.676Z",
      "createdAt": "2026-07-13T20:06:26.676Z",
      "role": "workflow:owner",
      "workflowId": "rj2aeJTkr7EmBIca",
      "projectId": "Lb300ztv9feaAJz6"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-16T14:55:31.622Z",
      "createdAt": "2026-06-16T14:55:31.622Z",
      "id": "YF7kRaLLoZERdRud",
      "name": "learning"
    }
  ]
}