workflows/Lead-Enrichment__PedGmTpB0k7bzvqJ/Lead Enrichment.json
{
  "createdAt": "2026-07-06T17:32:26.314Z",
  "id": "PedGmTpB0k7bzvqJ",
  "name": "Lead Enrichment",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact Us",
        "formDescription": "Fill the form and our Person will get back to you Thank You.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "placeholder": "Enter phone number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your/company email address",
              "requiredField": true
            },
            {
              "fieldLabel": "Company"
            },
            {
              "fieldLabel": "Company Website"
            },
            {
              "fieldLabel": "Interest",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AI Automation"
                  },
                  {
                    "option": "Custom Software Development"
                  },
                  {
                    "option": "Digital Transformation"
                  },
                  {
                    "option": "Marketing Automation"
                  },
                  {
                    "option": "Manufacturing Automation"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        -432
      ],
      "id": "a89fd2ba-9fcc-4983-90d8-2c217c945161",
      "name": "Contact Us Form",
      "webhookId": "e4947cb0-5c92-4717-ad02-982972075e50"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a51be5c8-9f22-4714-a252-8e66727f2a6e",
              "leftValue": "={{ $json.Email.isEmail() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -432
      ],
      "id": "af11d6ef-3ad4-4431-9808-000da12b8189",
      "name": "basic email validation"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0",
          "mode": "list",
          "cachedResultName": "leads entry log sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 65984804,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit#gid=65984804"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Name": "={{ $json.Name }}",
            "Status": "={{ $json.Email.isEmail() ? \"Accepted\" : \"Rejected\"}}",
            "Date": "={{ $now.format('dd--MM--yyyy') }}",
            "Reason": "Invalid Email to make lead qualified at first stage of enrichment",
            "Lead ID": "=LEAD-{{$now.format(\"yyyyMMddss\").hash().hash().slice(0,8)}}-{{$json.Email.hash().slice(0,8)}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -336
      ],
      "id": "55a8e57c-6bcb-4b28-8b6a-ff002d6ff434",
      "name": "make entry of rejected lead into google sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0",
          "mode": "list",
          "cachedResultName": "leads entry log sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 65984804,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit#gid=65984804"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ ($json.status === \"valid\" && $json.score >= 35 )? \"Accepted\" : \"Rejected\" }}",
            "Reason": "={{ $json.status === \"valid\" ? \"\" : \"Lead is rejected due to invalid email and scorred =< $json.hunter_score, verified from 3rd party service\"}}",
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Email": "={{ $json.email }}",
            "Name": "={{ $json.Name }}",
            "Company Name": "={{ $json.Company }}",
            "Lead ID": "={{ $json.LeadID }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -448
      ],
      "id": "224b2d2e-fc35-4768-bb6f-243992724754",
      "name": "Log failed leads entry sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a1d10bf-0239-4ceb-b194-bf902ace92aa",
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "504be7d7-f66b-4afa-aa64-79e4bebf9d5c",
              "leftValue": "={{ $json.hunter_score }}",
              "rightValue": 35,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -528
      ],
      "id": "881012e6-cb3c-458d-b984-6010293971ff",
      "name": "validation after 3rd email verification"
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $json.Email }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        448,
        -528
      ],
      "id": "ec98671d-5965-4265-ad8a-4a97708e05d4",
      "name": "3rd party email verification service",
      "credentials": {
        "hunterApi": {
          "id": "hmxNYh7T0bHiKdhR",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63cd971d-8dfb-45a7-acc0-2c6ad9df7275",
              "name": "LeadID",
              "value": "=LEAD-{{$now.format(\"yyyyMMdd HH:mm:ss\").hash().hash().slice(0,8).hash().slice(2,11)}}-{{$json.email.hash().slice(0,8)}}",
              "type": "string"
            },
            {
              "id": "d284123a-672e-4879-acec-dd162821545f",
              "name": "customerID",
              "value": "=CUST-{{ $('Contact Us Form').item.json[\"Phone Number\"].hash().hash().slice(0,8).hash().slice(2,11)}}-{{$json.email.hash().slice(0,8)}}",
              "type": "string"
            },
            {
              "id": "796aa746-6e17-47d3-8307-33be2f525660",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "e24312f5-c68f-4943-b2d5-1daae8539d58",
              "name": "hunter_score",
              "value": "={{ $json.score }}",
              "type": "number"
            },
            {
              "id": "8873966f-0763-4c80-a473-eec41cf4bb6c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "42cf0e4c-c16c-41a5-b3f4-2b8dbfeaf3ef",
              "name": "webmail",
              "value": "={{ $json.webmail }}",
              "type": "boolean"
            },
            {
              "id": "dcba1ac1-bb55-48ea-8a2d-16b7703a491f",
              "name": "mx_records",
              "value": "={{ $json.mx_records }}",
              "type": "boolean"
            },
            {
              "id": "40f3cb8e-7d88-426a-8b6a-ec4f23f58a93",
              "name": "smtp_check",
              "value": "={{ $json.smtp_check }}",
              "type": "boolean"
            },
            {
              "id": "6caad293-849d-41cd-bb36-84f66acbb942",
              "name": "accept_all",
              "value": "={{ $json.accept_all }}",
              "type": "boolean"
            },
            {
              "id": "b6805366-af14-4b1b-b631-de2ec3219eb1",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "ee693721-d3ce-4366-a699-693779eec05a",
              "name": "disposable",
              "value": "={{ $json.disposable }}",
              "type": "boolean"
            },
            {
              "id": "ba9b0c4a-0a07-40ba-95ef-274e141bf97c",
              "name": "Company",
              "value": "={{ $('basic email validation').item.json.Company }}",
              "type": "string"
            },
            {
              "id": "5b66831c-1caf-4ae5-9861-15a482a6cc31",
              "name": "Company Website",
              "value": "={{ $('basic email validation').item.json[\"Company Website\"] }}",
              "type": "string"
            },
            {
              "id": "e51310bf-389d-41be-8ca9-1d20698090c9",
              "name": "Message",
              "value": "={{ $('Contact Us Form').item.json.Message }}",
              "type": "string"
            },
            {
              "id": "8282c8cd-9eb6-4c94-88ce-4f72336987ca",
              "name": "Interest",
              "value": "={{ $('Contact Us Form').item.json.Interest }}",
              "type": "string"
            },
            {
              "id": "abe817c4-7ec9-44fa-8253-df2374fa35e4",
              "name": "Name",
              "value": "={{ $('Contact Us Form').item.json.Name }}",
              "type": "string"
            },
            {
              "id": "f8e0ff46-3788-43db-8ed1-94ccc0216a7c",
              "name": "Phone Number",
              "value": "={{ $('Contact Us Form').item.json[\"Phone Number\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -528
      ],
      "id": "b79be5b7-5725-4e5b-9320-dfb6b95a8042",
      "name": "polish data after email verification"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d3d67f3-dc43-46fc-a0ff-0740dc6e79b7",
              "name": "data.name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "717fac04-8770-4113-9285-9ce797d277e5",
              "name": "data.site.phoneNumbers",
              "value": "={{ $json.data.site.phoneNumbers }}",
              "type": "array"
            },
            {
              "id": "d8ffe53b-8251-4667-aba5-01c593f48e68",
              "name": "data.domain",
              "value": "={{ $json.data.domain }}",
              "type": "string"
            },
            {
              "id": "5586df37-5675-40c5-b428-4b5625cca383",
              "name": "data.tags",
              "value": "={{ $json.data.tags }}",
              "type": "array"
            },
            {
              "id": "ff655a2f-d1eb-4f70-ad5a-c26e20a4ca3d",
              "name": "data.description",
              "value": "={{ $json.data.description }}",
              "type": "string"
            },
            {
              "id": "cb8c6526-f70c-4902-9a52-7075368fbbc7",
              "name": "data.foundedYear",
              "value": "={{ $json.data.foundedYear ? $json.data.foundedYear : \"not provided\" }}",
              "type": "number"
            },
            {
              "id": "491078c6-d0ea-4f44-beda-d1ab9c6174b2",
              "name": "data.geo.streetName",
              "value": "={{ $json.data.geo.streetName ?  $json.data.geo.streetName : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "58bb44aa-3847-42e3-a575-78e202454dd8",
              "name": "data.geo.city",
              "value": "={{ $json.data.geo.city ? $json.data.geo.city : \"nor provided\" }}",
              "type": "string"
            },
            {
              "id": "0ab36678-8907-47d5-9698-d4d6a8f931a9",
              "name": "data.geo.city",
              "value": "={{ $json.data.geo.city ? $json.data.geo.city : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "994b0614-79ca-48d8-bda0-ee69c5e9ab52",
              "name": "data.geo.state",
              "value": "={{ $json.data.geo.state ?$json.data.geo.state : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "3965164a-de68-4417-bccf-f2654d492f87",
              "name": "data.geo.country",
              "value": "={{ $json.data.geo.country }}",
              "type": "string"
            },
            {
              "id": "aeacccb9-6c39-43e9-af59-5bbfb8c436e7",
              "name": "data.geo.countryCode",
              "value": "={{ $json.data.geo.countryCode ? $json.data.geo.countryCode : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "f343f1b1-9350-4a44-a59c-7e8d193092b2",
              "name": "data.companyType",
              "value": "={{ $json.data.companyType ? $json.data.companyType : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "8cc52533-0f0a-49d6-bef2-d70b24ad5d52",
              "name": "data.metrics.employees",
              "value": "={{ $json.data.metrics.employees ? $json.data.metrics.employees : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "6053ea1b-7add-4d62-afaf-db9782b6f05b",
              "name": "data.metrics.annualRevenue",
              "value": "={{ $json.data.metrics.annualRevenue ? $json.data.metrics.annualRevenue: \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "d39c7f35-b612-4e61-87ad-70e0af2959e1",
              "name": "data.linkedin.handle",
              "value": "={{ $json.data.linkedin.handle ? $json.data.linkedin.handle : \"not provided\" }}",
              "type": "string"
            },
            {
              "id": "f9c81a69-46e8-4c00-b048-d6e7de55db2a",
              "name": "Interest",
              "value": "={{ $('Contact Us Form').item.json.Interest }}",
              "type": "string"
            },
            {
              "id": "755f8592-c6ce-4eb1-9a14-bb71e2c73bc4",
              "name": "Message",
              "value": "={{ $('Contact Us Form').item.json.Message }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -736
      ],
      "id": "4f562c8f-7020-448b-85cc-a3d07c2de4a0",
      "name": "polish data after company verification"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "data.name",
              "field2": "Company"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        -672
      ],
      "id": "df90ac38-1180-47cc-a027-6e286a113f0b",
      "name": "merge email and company enrich data"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGTC8yvo1IaaQjW",
          "mode": "list",
          "cachedResultName": "Customer development CRM",
          "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW"
        },
        "table": {
          "__rl": true,
          "value": "tblv7JxYPC0EYR5oK",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW/tblv7JxYPC0EYR5oK"
        },
        "filterByFormula": "={Customer ID}='{{ $json.customerID }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1792,
        -736
      ],
      "id": "74b7d00d-f898-4a7c-b6a9-e9cbc6f33aec",
      "name": "search if lead exist",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "8UJKZeYYabeNEdhg",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8a9c6be1-fd93-4f5b-9011-9fd4fcd4c65a",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Priority Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "639eb25d-d2e2-40b6-aac0-ead11e88fbea",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Priority Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb8fa281-182a-4623-8f8c-5f88ecbb5b1c",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Priority Lead"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2464,
        -688
      ],
      "id": "59d9062f-8499-49d7-884a-9873b606f052",
      "name": "Lead Routes with Type"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[lead_id]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.LeadID }}"
            },
            {
              "action": "replaceAll",
              "text": "[customer_id]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.customerID }}"
            },
            {
              "action": "replaceAll",
              "text": "[full_name]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.Name }}"
            },
            {
              "action": "replaceAll",
              "text": "[email]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "[phone_number]",
              "replaceText": "={{ $('Lead Routes with Type').item.json[\"Phone Number\"] }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_name]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.Company }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_website]",
              "replaceText": "={{ $('Lead Routes with Type').item.json[\"Company Website\"] }}"
            },
            {
              "action": "replaceAll",
              "text": "[interest]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.Interest }}"
            },
            {
              "action": "replaceAll",
              "text": "[existing_customer]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.customerTag }}"
            },
            {
              "action": "replaceAll",
              "text": "[lead_score]",
              "replaceText": "={{ String( $('Lead Routes with Type').item.json.leadScore )}}"
            },
            {
              "action": "replaceAll",
              "text": " [priority]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.priority }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_name]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.Company }}"
            },
            {
              "action": "replaceAll",
              "text": "[domain]",
              "replaceText": "={{ $('Lead Routes with Type').item.json[\"Company Website\"] }}"
            },
            {
              "action": "replaceAll",
              "text": "[employees]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.data.metrics.employees }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_type]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.data.companyType }}"
            },
            {
              "action": "replaceAll",
              "text": "[founded_year]",
              "replaceText": "={{String( $('Lead Routes with Type').item.json.data.foundedYear )}}"
            },
            {
              "action": "replaceAll",
              "text": "[country]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.data.geo.country }}"
            },
            {
              "action": "replaceAll",
              "text": "[city]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.data.geo.city }}"
            },
            {
              "action": "replaceAll",
              "text": "[linkedin]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.data.linkedin.handle }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_description]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.data.description }}"
            },
            {
              "action": "replaceAll",
              "text": "[email_status]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.status }}"
            },
            {
              "action": "replaceAll",
              "text": "[hunter_verification_score]",
              "replaceText": "={{String( $('Lead Routes with Type').item.json.hunter_score )}}"
            },
            {
              "action": "replaceAll",
              "text": "[webmail]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.webmail ? \"yes\" : \"No\"}}"
            },
            {
              "action": "replaceAll",
              "text": " [mx_records_found]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.mx_records ? \"yes\" : \"No\"}}"
            },
            {
              "action": "replaceAll",
              "text": "[disposable_email]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.disposable ? \"yes\" : \"No\"}}"
            },
            {
              "action": "replaceAll",
              "text": "[generation_datetime]",
              "replaceText": "={{ $now.format('DD') }}"
            },
            {
              "action": "replaceAll",
              "text": "[smtp_verified]",
              "replaceText": "={{ $('Lead Routes with Type').item.json.smtp_check ? \"yes\" : \"No\"}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3360,
        -864
      ],
      "id": "88240a6a-33a0-4ad6-b2f3-092f8f2e876f",
      "name": "Update a PDF template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JbAgMbPsFSko4KEC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy lead file template from drive').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3584,
        -864
      ],
      "id": "0870e6d9-7237-4eae-bcfc-7f024c52c575",
      "name": "convert lead file google docs to pdf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M38vXu8b5UYZJ6ig",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1eADam_n87UcYx0QZwTn_wCclzmlPsUCwBSltweZaYb8",
          "mode": "list",
          "cachedResultName": "Qualified_Lead_Report",
          "cachedResultUrl": "https://docs.google.com/document/d/1eADam_n87UcYx0QZwTn_wCclzmlPsUCwBSltweZaYb8/edit?usp=drivesdk"
        },
        "name": "={{$('Lead Routes with Type').item.json.Company.toLowerCase()}}_{{$('Lead Routes with Type').item.json.Name.toLowerCase()}}_{{$('Lead Routes with Type').item.json.priority.toLowerCase()}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3136,
        -864
      ],
      "id": "36955721-f4d8-4998-be6c-9f017ccd48cf",
      "name": "Copy lead file template from drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M38vXu8b5UYZJ6ig",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/companies/find?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('basic email validation').item.json[\"Company Website\"] }}"
            },
            {
              "name": "api_key",
              "value": "=d3a318a5eb53f01fc011b46a0da261a0f7f37936"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -736
      ],
      "id": "eb7527a5-6618-49b3-a230-fb29950717c7",
      "name": "company enrichment"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fields.Email",
              "field2": "email"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        -672
      ],
      "id": "9c2a55b4-7b2d-443b-b4fb-6772301e5a2a",
      "name": "merge if lead/customer exist"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// ----------------------\n// Existing Customer\n// ----------------------\nconst existingCustomer =\n    !!item.id ||                     // Airtable record id\n    !!item.fields ||                 // Airtable fields\n    (Array.isArray(item.records) && item.records.length > 0);\n\nitem.existingCustomer = existingCustomer;\n\n// ----------------------\n// Lead Score\n// ----------------------\nlet score = 0;\n\n// Email validation\nif (item.status === \"valid\") score += 20;\n\n// Hunter score\nconst hunterScore = item.hunter_score ?? item.score ?? 0;\n\nif (hunterScore >= 90) {\n    score += 15;\n} else if (hunterScore >= 70) {\n    score += 10;\n} else if (hunterScore >= 50) {\n    score += 5;\n}\n\n// Existing customer\nif (existingCustomer) score += 20;\n\n// Company size\nconst employees = item.data?.metrics?.employees;\n\nswitch (employees) {\n    case \"500+\":\n    case \"201-500\":\n        score += 15;\n        break;\n\n    case \"51-200\":\n        score += 10;\n        break;\n\n    case \"11-50\":\n        score += 5;\n        break;\n}\n\n// Interest\nswitch (item.Interest) {\n    case \"AI Automation\":\n    case \"Custom Software Development\":\n        score += 15;\n        break;\n\n    default:\n        score += 10;\n}\n\n// Company website\nif (item[\"Company Website\"]) score += 5;\n\n// Business email\nif (item.webmail === false) score += 5;\n\n// Company enrichment successful\nif (item.data?.description) score += 5;\n\n// Final score\nitem.leadScore = score;\n\n// Priority\nif (score >= 80) {\n    item.priority = \"High\";\n} else if (score >= 50) {\n    item.priority = \"Medium\";\n} else {\n    item.priority = \"Low\";\n}\n\n// Customer Tag\nitem.customerTag = existingCustomer\n    ? \"Existing Customer\"\n    : \"New Customer\";\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -672
      ],
      "id": "0e72f130-5847-42be-b1f2-ce744e54c3b6",
      "name": "lead scoring"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BGNAF4STS",
          "mode": "list",
          "cachedResultName": "sales-manager"
        },
        "message": "=:warning: *MEDIUM PRIORITY LEAD REQUIRES APPROVAL*\n\n:bust_in_silhouette: *Lead Information*\n• *LeadID:* {{ $json.LeadID }}\n• *Name:* {{ $json.Name }}\n• *Email:* {{ $json.email }}\n• *Phone:* {{ $json[\"Phone Number\"] }}\n\n:bar_chart: *Lead Evaluation*\n• *Lead Score:* {{ $json.leadScore }}/100\n• *Priority:* {{ $json.priority }}\n• *Existing Customer:* {{ $json.existingCustomer ? \"Yes\" : \"No\" }}\n• *Interest:* {{ $json.Interest }}\n\n:office: *Company Details*\n• *Website:* {{ $json[\"Company Website\"] }}\n• *Employees:* {{ $json.data.metrics.employees }}\n• *Industry:* {{ $json.data.companyType }}\n\n:clipboard: *Message*\n{{ $json.Message }}\n\n:white_check_mark: *Action Required*\nPlease review this lead and approve or reject it for sales follow-up.\n\nApproved → Meeting will be scheduled automatically.\nRejected → Lead will be logged with the rejection reason.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Approval",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve"
                  },
                  {
                    "option": "Reject"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Reason",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Respond"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        2688,
        -688
      ],
      "id": "4679a7cb-4ac6-4d71-b8c9-a5ed39a7d5f7",
      "name": "Send message to sales manager for approval",
      "webhookId": "9fe4e737-cf44-42b8-b02a-53a1cf935794",
      "credentials": {
        "slackApi": {
          "id": "HTlCTSjIFJENPdO6",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5937ac8d-07b5-4ef9-9665-884d9159ae4a",
              "leftValue": "={{ $json.data.Approval }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2912,
        -688
      ],
      "id": "7f67ea5a-b135-433c-a4f4-1f384ebf7a5c",
      "name": "approved/disapproved"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8",
          "mode": "list",
          "cachedResultName": "qualified leads log entry sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1040985913,
          "mode": "list",
          "cachedResultName": "Qualified Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit#gid=1040985913"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Lead Routes with Type').item.json.LeadID }}",
            "Name": "={{ $('Lead Routes with Type').item.json.Name }}",
            "Email": "={{ $('Lead Routes with Type').item.json.email }}",
            "Company": "={{ $('Lead Routes with Type').item.json.Company }}",
            "Interest": "={{ $('Lead Routes with Type').item.json.Interest }}",
            "Lead Score": "={{ $('Lead Routes with Type').item.json.leadScore }}",
            "Priority": "={{ $('Lead Routes with Type').item.json.priority }}",
            "Status": "={{ $json.data.Approval.trim()}}\nReason:{{ $json.data.Reason }}"
          },
          "matchingColumns": [
            "Lead ID"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3136,
        -640
      ],
      "id": "c683b2ed-ff48-402e-95ef-167f7ba99134",
      "name": "log lead entry if sales manager disapprove",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy lead file template from drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4032,
        -864
      ],
      "id": "74310ba8-d3c5-4851-a8d4-7c7e5b71af61",
      "name": "delete google doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M38vXu8b5UYZJ6ig",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $binary[Object.keys($binary)[0]].fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1VyFZUqCmpftJAVAzlRMQ5cjrTGwvSQyp",
          "mode": "list",
          "cachedResultName": "Lead Enrichment Workflow",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VyFZUqCmpftJAVAzlRMQ5cjrTGwvSQyp"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3808,
        -864
      ],
      "id": "54f1206e-030a-456e-8f87-f790e9592723",
      "name": "Upload google docs as PDF to drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M38vXu8b5UYZJ6ig",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BGMLAP45N",
          "mode": "list",
          "cachedResultName": "account-sales-executive"
        },
        "text": "=🚨 *NEW HIGH PRIORITY LEAD*\n\n:red_circle: *Priority:* {{ $('Lead Routes with Type').item.json.priority }}\n⭐ *Lead Score:* {{ $('Lead Routes with Type').item.json.leadScore }}/100\n━━━━━━━━━━━━━━━━━━\n\n👤 *Lead Information*\n• *Name:* {{ $('Lead Routes with Type').item.json.fields.Name }}\n• *Email:* {{ $('Lead Routes with Type').item.json.email }}\n• *Phone:* {{ $('Lead Routes with Type').item.json[\"Phone Number\"] }}\n• *Company:* {{ $('Lead Routes with Type').item.json.Company }}\n• *Website:* {{ $('Lead Routes with Type').item.json[\"Company Website\"] }}\n• *Interest:* {{ $('Lead Routes with Type').item.json.Interest }}\n• *Existing Customer:* {{ $('Lead Routes with Type').item.json.customerTag }}\n━━━━━━━━━━━━━━━━━━\n\n🏢 *Company Details*\n• *Industry:* {{ $('Lead Routes with Type').item.json.data.companyType }}\n• *Employees:* {{ $('Lead Routes with Type').item.json.data.metrics.employees }}\n• *Location:* {{ $('Lead Routes with Type').item.json.data.geo.city }}, {{ $('Lead Routes with Type').item.json.data.geo.country }}\n\n━━━━━━━━━━━━━━━━━━\n\n🤖 *AI Qualification Summary*\nAdd will soon!\n\n━━━━━━━━━━━━━━━━━━\n\n💡 *Recommended Sales Action*\n• Next Action:\n⏰ *Action Required*\nPlease contact this lead within **24 hours** to maximize conversion potential.\n\n━━━━━━━━━━━━━━━━━━\n📄 *Qualified Lead Report*\n{{ $('Upload google docs as PDF to drive').item.json.webContentLink }}\n━━━━━━━━━━━━━━━━━━\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        4256,
        -864
      ],
      "id": "0d64fc0d-5d9c-457c-bad2-2cd4e88153ca",
      "name": "Send a message to account executive for high priority lead",
      "webhookId": "4926e6e5-ed27-4203-8cf9-1a10c3044798",
      "credentials": {
        "slackApi": {
          "id": "HTlCTSjIFJENPdO6",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "fahad.webdev119@gmail.com",
          "mode": "list",
          "cachedResultName": "fahad.webdev119@gmail.com"
        },
        "start": "={{\n$now\n  .setZone('America/New_York')\n  .plus({ days: 5 })\n  .set({ hour: 15, minute: 0, second: 0, millisecond: 0 })\n  .toFormat('yyyy-MM-dd HH:mm:ss')\n}}",
        "end": "={{\n$now\n  .setZone('America/New_York')\n  .plus({ days: 5 })\n  .set({ hour: 16, minute: 30, second: 0, millisecond: 0 })\n  .toFormat('yyyy-MM-dd HH:mm:ss')\n}}",
        "additionalFields": {
          "attendees": [
            "={{ $('Lead Routes with Type').item.json.email }}",
            "fahad.webdev119@gmail.com"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4480,
        -864
      ],
      "id": "6562398a-266e-42f7-94c7-f45fa50b4a49",
      "name": "Create an meeting with customer",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0ulCfce1DbiqBLvB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "fahad.testing119@gmail.com",
        "subject": "Meeting Confirmation. Your consultation has been scheduled successfully.",
        "message": "=<!DOCTYPE html>\n\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Meeting Invitation</title>\n<style>\nbody{\n    margin:0;\n    padding:0;\n    background:#f4f7fb;\n    font-family:Arial, Helvetica, sans-serif;\n    color:#333333;\n}\n.container{\n    max-width:650px;\n    margin:30px auto;\n    background:#ffffff;\n    border-radius:12px;\n    overflow:hidden;\n    box-shadow:0 4px 18px rgba(0,0,0,.08);\n}\n.header{\n    background:#1565C0;\n    color:#ffffff;\n    padding:30px;\n}\n.header h1{\n    margin:0;\n    font-size:26px;\n}\n.content{\n    padding:35px;\n}\n.card{\n    background:#f8fbff;\n    border-left:5px solid #1565C0;\n    padding:20px;\n    border-radius:8px;\n    margin:25px 0;\n}\ntable{\n    width:100%;\n    border-collapse:collapse;\n}\ntd{\n    padding:10px 0;\n    border-bottom:1px solid #e8edf5;\n}\n.label{\n    font-weight:bold;\n    width:180px;\n    color:#1565C0;\n}\n.button{\n    display:inline-block;\n    padding:14px 28px;\n    background:#1565C0;\n    color:#ffffff !important;\n    text-decoration:none;\n    border-radius:6px;\n    font-weight:bold;\n}\n.footer{\n    background:#f5f7fa;\n    padding:25px;\n    text-align:center;\n    font-size:13px;\n    color:#666666;\n}\n.note{\n    background:#FFF8E1;\n    border-left:4px solid #FFC107;\n    padding:15px;\n    margin-top:25px;\n    border-radius:6px;\n}\n</style>\n</head>\n\n<body>\n\n<div class=\"container\">\n\n<div class=\"header\">\n<h1>Meeting Confirmation</h1>\n<p>Your consultation has been scheduled successfully.</p>\n</div>\n\n<div class=\"content\">\n\n<p>Hello <strong>\n {{ $('Lead Routes with Type').item.json.fields.Name }}</strong>,</p>\n\n<p>\nThank you for your interest in <strong>In Our Company</strong>.\nI'm <strong>Fahad</strong>, your Account Sales Executive.\nI look forward to meeting with you to discuss how our solution can help your business.\n</p>\n\n<div class=\"card\">\n\n<h2 style=\"margin-top:0;color:#1565C0;\">📅 Meeting Details</h2>\n\n<table>\n\n<tr>\n<td class=\"label\">Meeting Title</td>\n<td>Qualified Lead Discovery Call</td>\n</tr>\n\n<tr>\n<td class=\"label\">Date & Time</td>\n\n<td>\n{{\nDateTime\n  .fromISO($json.start.dateTime)\n  .setZone('America/New_York')\n  .toFormat('dd MMM yyyy, hh:mm a')\n}}\n</td>\n</tr>\n\n<tr>\n<td class=\"label\">Duration</td>\n<td>1 hour and 30 mins</td>\n</tr>\n\n<tr>\n<td class=\"label\">Time Zone</td>\n<td>America/New_York (EDT/EST)</td>\n</tr>\n\n<tr>\n<td class=\"label\">Meeting Platform</td>\n<a href=\"{{ $json.hangoutLink }}\">\nJoin Meeting\n</a>\n</tr>\n\n<tr>\n<td class=\"label\">Meeting Link</td>\n<td>\n<a href=\"{{ $json.hangoutLink }}\">Join Meeting</a>\n</td>\n</tr>\n\n<tr>\n<td class=\"label\">Calendar Event</td>\n<td>\n<a href=\"{{ $json.htmlLink }}\">Add to Calendar</a>\n</td>\n</tr>\n\n</table>\n\n</div>\n\n<h3 style=\"color:#1565C0;\">Agenda</h3>\n\n<ul>\n<li>Introduction</li>\n<li>Understand your business requirements</li>\n<li>Product demonstration</li>\n<li>Pricing discussion</li>\n<li>Questions & Answers</li>\n<li>Next steps</li>\n</ul>\n\n<div style=\"text-align:center;margin:35px 0;\">\n\n<a href=\"{{ $json.hangoutLink }}\" class=\"button\">\nJoin Meeting\n</a>\n\n</div>\n\n<div class=\"note\">\n\n<strong>Before the meeting</strong>\n\n<ul>\n<li>Please join 5 minutes before the scheduled time.</li>\n<li>Ensure your microphone and camera are working.</li>\n<li>Prepare any questions or business requirements you'd like to discuss.</li>\n</ul>\n\n</div>\n\n<p>\nIf you need to reschedule, simply reply to this email or contact me directly.\n</p>\n\n<p>\n\nBest regards,\n\n<br><br>\n\n<strong>Fahad</strong><br>\n\nAccount Sales Executive<br>\n\nIn Our Company<br>\n\n📧 fahad.webdev119@gmail.com<br>\n</p>\n\n</div>\n\n<div class=\"footer\">\n\nThis meeting invitation was sent by <strong>IN Our Company</strong>.<br>\n\nGenerated automatically by the Lead Enrichment & Sales Automation Workflow.\n\n</div>\n\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4704,
        -864
      ],
      "id": "21160192-f6f3-44da-9446-086073628110",
      "name": "Send a mail to customer with meeting schedule",
      "webhookId": "2e283200-1748-4aff-9737-e74407682695",
      "credentials": {
        "gmailOAuth2": {
          "id": "QV3UcajD75i2QUhz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8",
          "mode": "list",
          "cachedResultName": "qualified leads log entry sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1040985913,
          "mode": "list",
          "cachedResultName": "Qualified Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit#gid=1040985913"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Lead Routes with Type').item.json.LeadID }}",
            "Name": "={{ $('Lead Routes with Type').item.json.Name }}",
            "Email": "={{ $('Lead Routes with Type').item.json.email }}",
            "Company": "={{ $('Lead Routes with Type').item.json.Company }}",
            "Interest": "={{ $('Lead Routes with Type').item.json.Interest }}",
            "Lead Score": "={{ $('Lead Routes with Type').item.json.leadScore }}",
            "Priority": "={{ $('Lead Routes with Type').item.json.priority }}",
            "Status": "Approved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4928,
        -864
      ],
      "id": "187adc0c-3f40-4c9b-8ec4-8a2d85514bdc",
      "name": "log entry of high priority lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGTC8yvo1IaaQjW",
          "mode": "list",
          "cachedResultName": "Customer development CRM",
          "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW"
        },
        "table": {
          "__rl": true,
          "value": "tblv7JxYPC0EYR5oK",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW/tblv7JxYPC0EYR5oK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer ID": "={{ $json.customerID }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.email }}",
            "Contact Number": "={{ $json[\"Phone Number\"] }}",
            "Company": "={{ $json.Company }}",
            "Priority": "={{ $json.priority }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2688,
        -496
      ],
      "id": "2ca478a9-fa11-4a09-8abf-a41c616af49a",
      "name": "log customer entry into CRM",
      "credentials": {
        "airtableTokenApi": {
          "id": "8UJKZeYYabeNEdhg",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0",
          "mode": "list",
          "cachedResultName": "leads entry log sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 65984804,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit#gid=65984804"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.LeadID }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.email }}",
            "Status": "Weakly Qualified ",
            "Reason": "={{ `Qualified with a low lead score (${ $json.leadScore }). Added to the nurture pipeline.` }}",
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Lead Value": "={{ $json.leadScore }}",
            "Company Name": "={{ $json.Company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        -304
      ],
      "id": "3c837943-8444-4cc2-898b-0538d65fecc1",
      "name": "log entry of low priority lead in global lead sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8",
          "mode": "list",
          "cachedResultName": "qualified leads log entry sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1040985913,
          "mode": "list",
          "cachedResultName": "Qualified Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit#gid=1040985913"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Lead Routes with Type').item.json.LeadID }}",
            "Name": "={{ $('Lead Routes with Type').item.json.Name }}",
            "Email": "={{ $('Lead Routes with Type').item.json.email }}",
            "Company": "={{ $('Lead Routes with Type').item.json.data.name }}",
            "Interest": "={{ $('Lead Routes with Type').item.json.Interest }}",
            "Lead Score": "={{ $('Lead Routes with Type').item.json.leadScore }}",
            "Priority": "={{ $('Lead Routes with Type').item.json.priority }}",
            "Status": "Approved but need more nurtured"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        -304
      ],
      "id": "d40ebd9e-d33a-4f3b-a77b-5753b04d2c12",
      "name": "log entry of low priority lead in qualified lead log sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0WHa8kFysFFXtgzo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Contact Us Form": {
      "main": [
        [
          {
            "node": "basic email validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "basic email validation": {
      "main": [
        [
          {
            "node": "3rd party email verification service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "make entry of rejected lead into google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validation after 3rd email verification": {
      "main": [
        [
          {
            "node": "merge email and company enrich data",
            "type": "main",
            "index": 1
          },
          {
            "node": "company enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log failed leads entry sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3rd party email verification service": {
      "main": [
        [
          {
            "node": "polish data after email verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "polish data after email verification": {
      "main": [
        [
          {
            "node": "validation after 3rd email verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "polish data after company verification": {
      "main": [
        [
          {
            "node": "merge email and company enrich data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge email and company enrich data": {
      "main": [
        [
          {
            "node": "search if lead exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge if lead/customer exist",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "search if lead exist": {
      "main": [
        [
          {
            "node": "merge if lead/customer exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log failed leads entry sheet": {
      "main": [
        []
      ]
    },
    "Lead Routes with Type": {
      "main": [
        [
          {
            "node": "log customer entry into CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Copy lead file template from drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log customer entry into CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message to sales manager for approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log customer entry into CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "log entry of low priority lead in global lead sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a PDF template": {
      "main": [
        [
          {
            "node": "convert lead file google docs to pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert lead file google docs to pdf": {
      "main": [
        [
          {
            "node": "Upload google docs as PDF to drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy lead file template from drive": {
      "main": [
        [
          {
            "node": "Update a PDF template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company enrichment": {
      "main": [
        [
          {
            "node": "polish data after company verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge if lead/customer exist": {
      "main": [
        [
          {
            "node": "lead scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead scoring": {
      "main": [
        [
          {
            "node": "Lead Routes with Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message to sales manager for approval": {
      "main": [
        [
          {
            "node": "approved/disapproved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approved/disapproved": {
      "main": [
        [
          {
            "node": "Copy lead file template from drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log lead entry if sales manager disapprove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete google doc": {
      "main": [
        [
          {
            "node": "Send a message to account executive for high priority lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload google docs as PDF to drive": {
      "main": [
        [
          {
            "node": "delete google doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to account executive for high priority lead": {
      "main": [
        [
          {
            "node": "Create an meeting with customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an meeting with customer": {
      "main": [
        [
          {
            "node": "Send a mail to customer with meeting schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a mail to customer with meeting schedule": {
      "main": [
        [
          {
            "node": "log entry of high priority lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log customer entry into CRM": {
      "main": [
        []
      ]
    },
    "log entry of low priority lead in global lead sheet": {
      "main": [
        [
          {
            "node": "log entry of low priority lead in qualified lead log sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "aue2mu3q4fW1hMIE",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "activeVersionId": "d36246b7-ec29-4146-a0c6-fef9600cba10",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-06T17:32:26.331Z",
      "createdAt": "2026-07-06T17:32:26.331Z",
      "role": "workflow:owner",
      "workflowId": "PedGmTpB0k7bzvqJ",
      "projectId": "Lb300ztv9feaAJz6"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-16T12:00:10.000Z",
    "createdAt": "2026-07-16T12:00:01.588Z",
    "versionId": "d36246b7-ec29-4146-a0c6-fef9600cba10",
    "workflowId": "PedGmTpB0k7bzvqJ",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Contact Us",
          "formDescription": "Fill the form and our Person will get back to you Thank You.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Name",
                "placeholder": "Enter your name",
                "requiredField": true
              },
              {
                "fieldLabel": "Phone Number",
                "placeholder": "Enter phone number",
                "requiredField": true
              },
              {
                "fieldLabel": "Email",
                "fieldType": "email",
                "placeholder": "Enter your/company email address",
                "requiredField": true
              },
              {
                "fieldLabel": "Company"
              },
              {
                "fieldLabel": "Company Website"
              },
              {
                "fieldLabel": "Interest",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "AI Automation"
                    },
                    {
                      "option": "Custom Software Development"
                    },
                    {
                      "option": "Digital Transformation"
                    },
                    {
                      "option": "Marketing Automation"
                    },
                    {
                      "option": "Manufacturing Automation"
                    }
                  ]
                }
              },
              {
                "fieldLabel": "Message",
                "fieldType": "textarea"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.6,
        "position": [
          0,
          -432
        ],
        "id": "a89fd2ba-9fcc-4983-90d8-2c217c945161",
        "name": "Contact Us Form",
        "webhookId": "e4947cb0-5c92-4717-ad02-982972075e50"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "a51be5c8-9f22-4714-a252-8e66727f2a6e",
                "leftValue": "={{ $json.Email.isEmail() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          224,
          -432
        ],
        "id": "af11d6ef-3ad4-4431-9808-000da12b8189",
        "name": "basic email validation"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0",
            "mode": "list",
            "cachedResultName": "leads entry log sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 65984804,
            "mode": "list",
            "cachedResultName": "Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit#gid=65984804"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Email": "={{ $json.Email }}",
              "Name": "={{ $json.Name }}",
              "Status": "={{ $json.Email.isEmail() ? \"Accepted\" : \"Rejected\"}}",
              "Date": "={{ $now.format('dd--MM--yyyy') }}",
              "Reason": "Invalid Email to make lead qualified at first stage of enrichment",
              "Lead ID": "=LEAD-{{$now.format(\"yyyyMMddss\").hash().hash().slice(0,8)}}-{{$json.Email.hash().slice(0,8)}}"
            },
            "matchingColumns": [
              "Email"
            ],
            "schema": [
              {
                "id": "Lead ID",
                "displayName": "Lead ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Reason",
                "displayName": "Reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Value",
                "displayName": "Lead Value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Company Name",
                "displayName": "Company Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          448,
          -336
        ],
        "id": "55a8e57c-6bcb-4b28-8b6a-ff002d6ff434",
        "name": "make entry of rejected lead into google sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0",
            "mode": "list",
            "cachedResultName": "leads entry log sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 65984804,
            "mode": "list",
            "cachedResultName": "Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit#gid=65984804"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Status": "={{ ($json.status === \"valid\" && $json.score >= 35 )? \"Accepted\" : \"Rejected\" }}",
              "Reason": "={{ $json.status === \"valid\" ? \"\" : \"Lead is rejected due to invalid email and scorred =< $json.hunter_score, verified from 3rd party service\"}}",
              "Date": "={{ $now.format('dd-MM-yyyy') }}",
              "Email": "={{ $json.email }}",
              "Name": "={{ $json.Name }}",
              "Company Name": "={{ $json.Company }}",
              "Lead ID": "={{ $json.LeadID }}"
            },
            "matchingColumns": [
              "Email"
            ],
            "schema": [
              {
                "id": "Lead ID",
                "displayName": "Lead ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Reason",
                "displayName": "Reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Value",
                "displayName": "Lead Value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Company Name",
                "displayName": "Company Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1120,
          -448
        ],
        "id": "224b2d2e-fc35-4768-bb6f-243992724754",
        "name": "Log failed leads entry sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "4a1d10bf-0239-4ceb-b194-bf902ace92aa",
                "leftValue": "={{ $json.status }}",
                "rightValue": "valid",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "504be7d7-f66b-4afa-aa64-79e4bebf9d5c",
                "leftValue": "={{ $json.hunter_score }}",
                "rightValue": 35,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          -528
        ],
        "id": "881012e6-cb3c-458d-b984-6010293971ff",
        "name": "validation after 3rd email verification"
      },
      {
        "parameters": {
          "operation": "emailVerifier",
          "email": "={{ $json.Email }}"
        },
        "type": "n8n-nodes-base.hunter",
        "typeVersion": 1,
        "position": [
          448,
          -528
        ],
        "id": "ec98671d-5965-4265-ad8a-4a97708e05d4",
        "name": "3rd party email verification service",
        "credentials": {
          "hunterApi": {
            "id": "hmxNYh7T0bHiKdhR",
            "name": "Hunter account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "63cd971d-8dfb-45a7-acc0-2c6ad9df7275",
                "name": "LeadID",
                "value": "=LEAD-{{$now.format(\"yyyyMMdd HH:mm:ss\").hash().hash().slice(0,8).hash().slice(2,11)}}-{{$json.email.hash().slice(0,8)}}",
                "type": "string"
              },
              {
                "id": "d284123a-672e-4879-acec-dd162821545f",
                "name": "customerID",
                "value": "=CUST-{{ $('Contact Us Form').item.json[\"Phone Number\"].hash().hash().slice(0,8).hash().slice(2,11)}}-{{$json.email.hash().slice(0,8)}}",
                "type": "string"
              },
              {
                "id": "796aa746-6e17-47d3-8307-33be2f525660",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "e24312f5-c68f-4943-b2d5-1daae8539d58",
                "name": "hunter_score",
                "value": "={{ $json.score }}",
                "type": "number"
              },
              {
                "id": "8873966f-0763-4c80-a473-eec41cf4bb6c",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "42cf0e4c-c16c-41a5-b3f4-2b8dbfeaf3ef",
                "name": "webmail",
                "value": "={{ $json.webmail }}",
                "type": "boolean"
              },
              {
                "id": "dcba1ac1-bb55-48ea-8a2d-16b7703a491f",
                "name": "mx_records",
                "value": "={{ $json.mx_records }}",
                "type": "boolean"
              },
              {
                "id": "40f3cb8e-7d88-426a-8b6a-ec4f23f58a93",
                "name": "smtp_check",
                "value": "={{ $json.smtp_check }}",
                "type": "boolean"
              },
              {
                "id": "6caad293-849d-41cd-bb36-84f66acbb942",
                "name": "accept_all",
                "value": "={{ $json.accept_all }}",
                "type": "boolean"
              },
              {
                "id": "b6805366-af14-4b1b-b631-de2ec3219eb1",
                "name": "result",
                "value": "={{ $json.result }}",
                "type": "string"
              },
              {
                "id": "ee693721-d3ce-4366-a699-693779eec05a",
                "name": "disposable",
                "value": "={{ $json.disposable }}",
                "type": "boolean"
              },
              {
                "id": "ba9b0c4a-0a07-40ba-95ef-274e141bf97c",
                "name": "Company",
                "value": "={{ $('basic email validation').item.json.Company }}",
                "type": "string"
              },
              {
                "id": "5b66831c-1caf-4ae5-9861-15a482a6cc31",
                "name": "Company Website",
                "value": "={{ $('basic email validation').item.json[\"Company Website\"] }}",
                "type": "string"
              },
              {
                "id": "e51310bf-389d-41be-8ca9-1d20698090c9",
                "name": "Message",
                "value": "={{ $('Contact Us Form').item.json.Message }}",
                "type": "string"
              },
              {
                "id": "8282c8cd-9eb6-4c94-88ce-4f72336987ca",
                "name": "Interest",
                "value": "={{ $('Contact Us Form').item.json.Interest }}",
                "type": "string"
              },
              {
                "id": "abe817c4-7ec9-44fa-8253-df2374fa35e4",
                "name": "Name",
                "value": "={{ $('Contact Us Form').item.json.Name }}",
                "type": "string"
              },
              {
                "id": "f8e0ff46-3788-43db-8ed1-94ccc0216a7c",
                "name": "Phone Number",
                "value": "={{ $('Contact Us Form').item.json[\"Phone Number\"] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          -528
        ],
        "id": "b79be5b7-5725-4e5b-9320-dfb6b95a8042",
        "name": "polish data after email verification"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6d3d67f3-dc43-46fc-a0ff-0740dc6e79b7",
                "name": "data.name",
                "value": "={{ $json.data.name }}",
                "type": "string"
              },
              {
                "id": "717fac04-8770-4113-9285-9ce797d277e5",
                "name": "data.site.phoneNumbers",
                "value": "={{ $json.data.site.phoneNumbers }}",
                "type": "array"
              },
              {
                "id": "d8ffe53b-8251-4667-aba5-01c593f48e68",
                "name": "data.domain",
                "value": "={{ $json.data.domain }}",
                "type": "string"
              },
              {
                "id": "5586df37-5675-40c5-b428-4b5625cca383",
                "name": "data.tags",
                "value": "={{ $json.data.tags }}",
                "type": "array"
              },
              {
                "id": "ff655a2f-d1eb-4f70-ad5a-c26e20a4ca3d",
                "name": "data.description",
                "value": "={{ $json.data.description }}",
                "type": "string"
              },
              {
                "id": "cb8c6526-f70c-4902-9a52-7075368fbbc7",
                "name": "data.foundedYear",
                "value": "={{ $json.data.foundedYear ? $json.data.foundedYear : \"not provided\" }}",
                "type": "number"
              },
              {
                "id": "491078c6-d0ea-4f44-beda-d1ab9c6174b2",
                "name": "data.geo.streetName",
                "value": "={{ $json.data.geo.streetName ?  $json.data.geo.streetName : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "58bb44aa-3847-42e3-a575-78e202454dd8",
                "name": "data.geo.city",
                "value": "={{ $json.data.geo.city ? $json.data.geo.city : \"nor provided\" }}",
                "type": "string"
              },
              {
                "id": "0ab36678-8907-47d5-9698-d4d6a8f931a9",
                "name": "data.geo.city",
                "value": "={{ $json.data.geo.city ? $json.data.geo.city : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "994b0614-79ca-48d8-bda0-ee69c5e9ab52",
                "name": "data.geo.state",
                "value": "={{ $json.data.geo.state ?$json.data.geo.state : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "3965164a-de68-4417-bccf-f2654d492f87",
                "name": "data.geo.country",
                "value": "={{ $json.data.geo.country }}",
                "type": "string"
              },
              {
                "id": "aeacccb9-6c39-43e9-af59-5bbfb8c436e7",
                "name": "data.geo.countryCode",
                "value": "={{ $json.data.geo.countryCode ? $json.data.geo.countryCode : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "f343f1b1-9350-4a44-a59c-7e8d193092b2",
                "name": "data.companyType",
                "value": "={{ $json.data.companyType ? $json.data.companyType : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "8cc52533-0f0a-49d6-bef2-d70b24ad5d52",
                "name": "data.metrics.employees",
                "value": "={{ $json.data.metrics.employees ? $json.data.metrics.employees : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "6053ea1b-7add-4d62-afaf-db9782b6f05b",
                "name": "data.metrics.annualRevenue",
                "value": "={{ $json.data.metrics.annualRevenue ? $json.data.metrics.annualRevenue: \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "d39c7f35-b612-4e61-87ad-70e0af2959e1",
                "name": "data.linkedin.handle",
                "value": "={{ $json.data.linkedin.handle ? $json.data.linkedin.handle : \"not provided\" }}",
                "type": "string"
              },
              {
                "id": "f9c81a69-46e8-4c00-b048-d6e7de55db2a",
                "name": "Interest",
                "value": "={{ $('Contact Us Form').item.json.Interest }}",
                "type": "string"
              },
              {
                "id": "755f8592-c6ce-4eb1-9a14-bb71e2c73bc4",
                "name": "Message",
                "value": "={{ $('Contact Us Form').item.json.Message }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": true
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          -736
        ],
        "id": "4f562c8f-7020-448b-85cc-a3d07c2de4a0",
        "name": "polish data after company verification"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "data.name",
                "field2": "Company"
              }
            ]
          },
          "joinMode": "enrichInput1",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1568,
          -672
        ],
        "id": "df90ac38-1180-47cc-a027-6e286a113f0b",
        "name": "merge email and company enrich data"
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appGTC8yvo1IaaQjW",
            "mode": "list",
            "cachedResultName": "Customer development CRM",
            "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW"
          },
          "table": {
            "__rl": true,
            "value": "tblv7JxYPC0EYR5oK",
            "mode": "list",
            "cachedResultName": "Customers",
            "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW/tblv7JxYPC0EYR5oK"
          },
          "filterByFormula": "={Customer ID}='{{ $json.customerID }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          1792,
          -736
        ],
        "id": "74b7d00d-f898-4a7c-b6a9-e9cbc6f33aec",
        "name": "search if lead exist",
        "alwaysOutputData": true,
        "credentials": {
          "airtableTokenApi": {
            "id": "8UJKZeYYabeNEdhg",
            "name": "Airtable Personal Access Token account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "8a9c6be1-fd93-4f5b-9011-9fd4fcd4c65a",
                      "leftValue": "={{ $json.priority }}",
                      "rightValue": "High",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "High Priority Lead"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "639eb25d-d2e2-40b6-aac0-ead11e88fbea",
                      "leftValue": "={{ $json.priority }}",
                      "rightValue": "Medium",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Medium Priority Lead"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "eb8fa281-182a-4623-8f8c-5f88ecbb5b1c",
                      "leftValue": "={{ $json.priority }}",
                      "rightValue": "Low",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Low Priority Lead"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          2464,
          -688
        ],
        "id": "59d9062f-8499-49d7-884a-9873b606f052",
        "name": "Lead Routes with Type"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "simple": false,
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "[lead_id]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.LeadID }}"
              },
              {
                "action": "replaceAll",
                "text": "[customer_id]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.customerID }}"
              },
              {
                "action": "replaceAll",
                "text": "[full_name]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.Name }}"
              },
              {
                "action": "replaceAll",
                "text": "[email]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.email }}"
              },
              {
                "action": "replaceAll",
                "text": "[phone_number]",
                "replaceText": "={{ $('Lead Routes with Type').item.json[\"Phone Number\"] }}"
              },
              {
                "action": "replaceAll",
                "text": "[company_name]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.Company }}"
              },
              {
                "action": "replaceAll",
                "text": "[company_website]",
                "replaceText": "={{ $('Lead Routes with Type').item.json[\"Company Website\"] }}"
              },
              {
                "action": "replaceAll",
                "text": "[interest]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.Interest }}"
              },
              {
                "action": "replaceAll",
                "text": "[existing_customer]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.customerTag }}"
              },
              {
                "action": "replaceAll",
                "text": "[lead_score]",
                "replaceText": "={{ String( $('Lead Routes with Type').item.json.leadScore )}}"
              },
              {
                "action": "replaceAll",
                "text": " [priority]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.priority }}"
              },
              {
                "action": "replaceAll",
                "text": "[company_name]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.Company }}"
              },
              {
                "action": "replaceAll",
                "text": "[domain]",
                "replaceText": "={{ $('Lead Routes with Type').item.json[\"Company Website\"] }}"
              },
              {
                "action": "replaceAll",
                "text": "[employees]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.data.metrics.employees }}"
              },
              {
                "action": "replaceAll",
                "text": "[company_type]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.data.companyType }}"
              },
              {
                "action": "replaceAll",
                "text": "[founded_year]",
                "replaceText": "={{String( $('Lead Routes with Type').item.json.data.foundedYear )}}"
              },
              {
                "action": "replaceAll",
                "text": "[country]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.data.geo.country }}"
              },
              {
                "action": "replaceAll",
                "text": "[city]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.data.geo.city }}"
              },
              {
                "action": "replaceAll",
                "text": "[linkedin]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.data.linkedin.handle }}"
              },
              {
                "action": "replaceAll",
                "text": "[company_description]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.data.description }}"
              },
              {
                "action": "replaceAll",
                "text": "[email_status]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.status }}"
              },
              {
                "action": "replaceAll",
                "text": "[hunter_verification_score]",
                "replaceText": "={{String( $('Lead Routes with Type').item.json.hunter_score )}}"
              },
              {
                "action": "replaceAll",
                "text": "[webmail]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.webmail ? \"yes\" : \"No\"}}"
              },
              {
                "action": "replaceAll",
                "text": " [mx_records_found]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.mx_records ? \"yes\" : \"No\"}}"
              },
              {
                "action": "replaceAll",
                "text": "[disposable_email]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.disposable ? \"yes\" : \"No\"}}"
              },
              {
                "action": "replaceAll",
                "text": "[generation_datetime]",
                "replaceText": "={{ $now.format('DD') }}"
              },
              {
                "action": "replaceAll",
                "text": "[smtp_verified]",
                "replaceText": "={{ $('Lead Routes with Type').item.json.smtp_check ? \"yes\" : \"No\"}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          3360,
          -864
        ],
        "id": "88240a6a-33a0-4ad6-b2f3-092f8f2e876f",
        "name": "Update a PDF template",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "JbAgMbPsFSko4KEC",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Copy lead file template from drive').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3584,
          -864
        ],
        "id": "0870e6d9-7237-4eae-bcfc-7f024c52c575",
        "name": "convert lead file google docs to pdf",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "M38vXu8b5UYZJ6ig",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1eADam_n87UcYx0QZwTn_wCclzmlPsUCwBSltweZaYb8",
            "mode": "list",
            "cachedResultName": "Qualified_Lead_Report",
            "cachedResultUrl": "https://docs.google.com/document/d/1eADam_n87UcYx0QZwTn_wCclzmlPsUCwBSltweZaYb8/edit?usp=drivesdk"
          },
          "name": "={{$('Lead Routes with Type').item.json.Company.toLowerCase()}}_{{$('Lead Routes with Type').item.json.Name.toLowerCase()}}_{{$('Lead Routes with Type').item.json.priority.toLowerCase()}}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3136,
          -864
        ],
        "id": "36955721-f4d8-4998-be6c-9f017ccd48cf",
        "name": "Copy lead file template from drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "M38vXu8b5UYZJ6ig",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.hunter.io/v2/companies/find?",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "domain",
                "value": "={{ $('basic email validation').item.json[\"Company Website\"] }}"
              },
              {
                "name": "api_key",
                "value": "=d3a318a5eb53f01fc011b46a0da261a0f7f37936"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1120,
          -736
        ],
        "id": "eb7527a5-6618-49b3-a230-fb29950717c7",
        "name": "company enrichment"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "fields.Email",
                "field2": "email"
              }
            ]
          },
          "joinMode": "enrichInput2",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2016,
          -672
        ],
        "id": "9c2a55b4-7b2d-443b-b4fb-6772301e5a2a",
        "name": "merge if lead/customer exist"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\n// ----------------------\n// Existing Customer\n// ----------------------\nconst existingCustomer =\n    !!item.id ||                     // Airtable record id\n    !!item.fields ||                 // Airtable fields\n    (Array.isArray(item.records) && item.records.length > 0);\n\nitem.existingCustomer = existingCustomer;\n\n// ----------------------\n// Lead Score\n// ----------------------\nlet score = 0;\n\n// Email validation\nif (item.status === \"valid\") score += 20;\n\n// Hunter score\nconst hunterScore = item.hunter_score ?? item.score ?? 0;\n\nif (hunterScore >= 90) {\n    score += 15;\n} else if (hunterScore >= 70) {\n    score += 10;\n} else if (hunterScore >= 50) {\n    score += 5;\n}\n\n// Existing customer\nif (existingCustomer) score += 20;\n\n// Company size\nconst employees = item.data?.metrics?.employees;\n\nswitch (employees) {\n    case \"500+\":\n    case \"201-500\":\n        score += 15;\n        break;\n\n    case \"51-200\":\n        score += 10;\n        break;\n\n    case \"11-50\":\n        score += 5;\n        break;\n}\n\n// Interest\nswitch (item.Interest) {\n    case \"AI Automation\":\n    case \"Custom Software Development\":\n        score += 15;\n        break;\n\n    default:\n        score += 10;\n}\n\n// Company website\nif (item[\"Company Website\"]) score += 5;\n\n// Business email\nif (item.webmail === false) score += 5;\n\n// Company enrichment successful\nif (item.data?.description) score += 5;\n\n// Final score\nitem.leadScore = score;\n\n// Priority\nif (score >= 80) {\n    item.priority = \"High\";\n} else if (score >= 50) {\n    item.priority = \"Medium\";\n} else {\n    item.priority = \"Low\";\n}\n\n// Customer Tag\nitem.customerTag = existingCustomer\n    ? \"Existing Customer\"\n    : \"New Customer\";\n\nreturn [{ json: item }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          -672
        ],
        "id": "0e72f130-5847-42be-b1f2-ce744e54c3b6",
        "name": "lead scoring"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0BGNAF4STS",
            "mode": "list",
            "cachedResultName": "sales-manager"
          },
          "message": "=:warning: *MEDIUM PRIORITY LEAD REQUIRES APPROVAL*\n\n:bust_in_silhouette: *Lead Information*\n• *LeadID:* {{ $json.LeadID }}\n• *Name:* {{ $json.Name }}\n• *Email:* {{ $json.email }}\n• *Phone:* {{ $json[\"Phone Number\"] }}\n\n:bar_chart: *Lead Evaluation*\n• *Lead Score:* {{ $json.leadScore }}/100\n• *Priority:* {{ $json.priority }}\n• *Existing Customer:* {{ $json.existingCustomer ? \"Yes\" : \"No\" }}\n• *Interest:* {{ $json.Interest }}\n\n:office: *Company Details*\n• *Website:* {{ $json[\"Company Website\"] }}\n• *Employees:* {{ $json.data.metrics.employees }}\n• *Industry:* {{ $json.data.companyType }}\n\n:clipboard: *Message*\n{{ $json.Message }}\n\n:white_check_mark: *Action Required*\nPlease review this lead and approve or reject it for sales follow-up.\n\nApproved → Meeting will be scheduled automatically.\nRejected → Lead will be logged with the rejection reason.",
          "responseType": "customForm",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Approval",
                "fieldType": "radio",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Approve"
                    },
                    {
                      "option": "Reject"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Reason",
                "requiredField": true
              }
            ]
          },
          "options": {
            "messageButtonLabel": "Respond"
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.5,
        "position": [
          2688,
          -688
        ],
        "id": "4679a7cb-4ac6-4d71-b8c9-a5ed39a7d5f7",
        "name": "Send message to sales manager for approval",
        "webhookId": "9fe4e737-cf44-42b8-b02a-53a1cf935794",
        "credentials": {
          "slackApi": {
            "id": "HTlCTSjIFJENPdO6",
            "name": "Slack account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "5937ac8d-07b5-4ef9-9665-884d9159ae4a",
                "leftValue": "={{ $json.data.Approval }}",
                "rightValue": "Approve",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2912,
          -688
        ],
        "id": "7f67ea5a-b135-433c-a4f4-1f384ebf7a5c",
        "name": "approved/disapproved"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8",
            "mode": "list",
            "cachedResultName": "qualified leads log entry sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1040985913,
            "mode": "list",
            "cachedResultName": "Qualified Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit#gid=1040985913"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Lead ID": "={{ $('Lead Routes with Type').item.json.LeadID }}",
              "Name": "={{ $('Lead Routes with Type').item.json.Name }}",
              "Email": "={{ $('Lead Routes with Type').item.json.email }}",
              "Company": "={{ $('Lead Routes with Type').item.json.Company }}",
              "Interest": "={{ $('Lead Routes with Type').item.json.Interest }}",
              "Lead Score": "={{ $('Lead Routes with Type').item.json.leadScore }}",
              "Priority": "={{ $('Lead Routes with Type').item.json.priority }}",
              "Status": "={{ $json.data.Approval.trim()}}\nReason:{{ $json.data.Reason }}"
            },
            "matchingColumns": [
              "Lead ID"
            ],
            "schema": [
              {
                "id": "Lead ID",
                "displayName": "Lead ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Interest",
                "displayName": "Interest",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Score",
                "displayName": "Lead Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3136,
          -640
        ],
        "id": "c683b2ed-ff48-402e-95ef-167f7ba99134",
        "name": "log lead entry if sales manager disapprove",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Copy lead file template from drive').item.json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          4032,
          -864
        ],
        "id": "74310ba8-d3c5-4851-a8d4-7c7e5b71af61",
        "name": "delete google doc",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "M38vXu8b5UYZJ6ig",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $binary[Object.keys($binary)[0]].fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1VyFZUqCmpftJAVAzlRMQ5cjrTGwvSQyp",
            "mode": "list",
            "cachedResultName": "Lead Enrichment Workflow",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1VyFZUqCmpftJAVAzlRMQ5cjrTGwvSQyp"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3808,
          -864
        ],
        "id": "54f1206e-030a-456e-8f87-f790e9592723",
        "name": "Upload google docs as PDF to drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "M38vXu8b5UYZJ6ig",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0BGMLAP45N",
            "mode": "list",
            "cachedResultName": "account-sales-executive"
          },
          "text": "=🚨 *NEW HIGH PRIORITY LEAD*\n\n:red_circle: *Priority:* {{ $('Lead Routes with Type').item.json.priority }}\n⭐ *Lead Score:* {{ $('Lead Routes with Type').item.json.leadScore }}/100\n━━━━━━━━━━━━━━━━━━\n\n👤 *Lead Information*\n• *Name:* {{ $('Lead Routes with Type').item.json.fields.Name }}\n• *Email:* {{ $('Lead Routes with Type').item.json.email }}\n• *Phone:* {{ $('Lead Routes with Type').item.json[\"Phone Number\"] }}\n• *Company:* {{ $('Lead Routes with Type').item.json.Company }}\n• *Website:* {{ $('Lead Routes with Type').item.json[\"Company Website\"] }}\n• *Interest:* {{ $('Lead Routes with Type').item.json.Interest }}\n• *Existing Customer:* {{ $('Lead Routes with Type').item.json.customerTag }}\n━━━━━━━━━━━━━━━━━━\n\n🏢 *Company Details*\n• *Industry:* {{ $('Lead Routes with Type').item.json.data.companyType }}\n• *Employees:* {{ $('Lead Routes with Type').item.json.data.metrics.employees }}\n• *Location:* {{ $('Lead Routes with Type').item.json.data.geo.city }}, {{ $('Lead Routes with Type').item.json.data.geo.country }}\n\n━━━━━━━━━━━━━━━━━━\n\n🤖 *AI Qualification Summary*\nAdd will soon!\n\n━━━━━━━━━━━━━━━━━━\n\n💡 *Recommended Sales Action*\n• Next Action:\n⏰ *Action Required*\nPlease contact this lead within **24 hours** to maximize conversion potential.\n\n━━━━━━━━━━━━━━━━━━\n📄 *Qualified Lead Report*\n{{ $('Upload google docs as PDF to drive').item.json.webContentLink }}\n━━━━━━━━━━━━━━━━━━\n",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.5,
        "position": [
          4256,
          -864
        ],
        "id": "0d64fc0d-5d9c-457c-bad2-2cd4e88153ca",
        "name": "Send a message to account executive for high priority lead",
        "webhookId": "4926e6e5-ed27-4203-8cf9-1a10c3044798",
        "credentials": {
          "slackApi": {
            "id": "HTlCTSjIFJENPdO6",
            "name": "Slack account 2"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "fahad.webdev119@gmail.com",
            "mode": "list",
            "cachedResultName": "fahad.webdev119@gmail.com"
          },
          "start": "={{\n$now\n  .setZone('America/New_York')\n  .plus({ days: 5 })\n  .set({ hour: 15, minute: 0, second: 0, millisecond: 0 })\n  .toFormat('yyyy-MM-dd HH:mm:ss')\n}}",
          "end": "={{\n$now\n  .setZone('America/New_York')\n  .plus({ days: 5 })\n  .set({ hour: 16, minute: 30, second: 0, millisecond: 0 })\n  .toFormat('yyyy-MM-dd HH:mm:ss')\n}}",
          "additionalFields": {
            "attendees": [
              "={{ $('Lead Routes with Type').item.json.email }}",
              "fahad.webdev119@gmail.com"
            ],
            "conferenceDataUi": {
              "conferenceDataValues": {
                "conferenceSolution": "hangoutsMeet"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          4480,
          -864
        ],
        "id": "6562398a-266e-42f7-94c7-f45fa50b4a49",
        "name": "Create an meeting with customer",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "0ulCfce1DbiqBLvB",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "fahad.testing119@gmail.com",
          "subject": "Meeting Confirmation. Your consultation has been scheduled successfully.",
          "message": "=<!DOCTYPE html>\n\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Meeting Invitation</title>\n<style>\nbody{\n    margin:0;\n    padding:0;\n    background:#f4f7fb;\n    font-family:Arial, Helvetica, sans-serif;\n    color:#333333;\n}\n.container{\n    max-width:650px;\n    margin:30px auto;\n    background:#ffffff;\n    border-radius:12px;\n    overflow:hidden;\n    box-shadow:0 4px 18px rgba(0,0,0,.08);\n}\n.header{\n    background:#1565C0;\n    color:#ffffff;\n    padding:30px;\n}\n.header h1{\n    margin:0;\n    font-size:26px;\n}\n.content{\n    padding:35px;\n}\n.card{\n    background:#f8fbff;\n    border-left:5px solid #1565C0;\n    padding:20px;\n    border-radius:8px;\n    margin:25px 0;\n}\ntable{\n    width:100%;\n    border-collapse:collapse;\n}\ntd{\n    padding:10px 0;\n    border-bottom:1px solid #e8edf5;\n}\n.label{\n    font-weight:bold;\n    width:180px;\n    color:#1565C0;\n}\n.button{\n    display:inline-block;\n    padding:14px 28px;\n    background:#1565C0;\n    color:#ffffff !important;\n    text-decoration:none;\n    border-radius:6px;\n    font-weight:bold;\n}\n.footer{\n    background:#f5f7fa;\n    padding:25px;\n    text-align:center;\n    font-size:13px;\n    color:#666666;\n}\n.note{\n    background:#FFF8E1;\n    border-left:4px solid #FFC107;\n    padding:15px;\n    margin-top:25px;\n    border-radius:6px;\n}\n</style>\n</head>\n\n<body>\n\n<div class=\"container\">\n\n<div class=\"header\">\n<h1>Meeting Confirmation</h1>\n<p>Your consultation has been scheduled successfully.</p>\n</div>\n\n<div class=\"content\">\n\n<p>Hello <strong>\n {{ $('Lead Routes with Type').item.json.fields.Name }}</strong>,</p>\n\n<p>\nThank you for your interest in <strong>In Our Company</strong>.\nI'm <strong>Fahad</strong>, your Account Sales Executive.\nI look forward to meeting with you to discuss how our solution can help your business.\n</p>\n\n<div class=\"card\">\n\n<h2 style=\"margin-top:0;color:#1565C0;\">📅 Meeting Details</h2>\n\n<table>\n\n<tr>\n<td class=\"label\">Meeting Title</td>\n<td>Qualified Lead Discovery Call</td>\n</tr>\n\n<tr>\n<td class=\"label\">Date & Time</td>\n\n<td>\n{{\nDateTime\n  .fromISO($json.start.dateTime)\n  .setZone('America/New_York')\n  .toFormat('dd MMM yyyy, hh:mm a')\n}}\n</td>\n</tr>\n\n<tr>\n<td class=\"label\">Duration</td>\n<td>1 hour and 30 mins</td>\n</tr>\n\n<tr>\n<td class=\"label\">Time Zone</td>\n<td>America/New_York (EDT/EST)</td>\n</tr>\n\n<tr>\n<td class=\"label\">Meeting Platform</td>\n<a href=\"{{ $json.hangoutLink }}\">\nJoin Meeting\n</a>\n</tr>\n\n<tr>\n<td class=\"label\">Meeting Link</td>\n<td>\n<a href=\"{{ $json.hangoutLink }}\">Join Meeting</a>\n</td>\n</tr>\n\n<tr>\n<td class=\"label\">Calendar Event</td>\n<td>\n<a href=\"{{ $json.htmlLink }}\">Add to Calendar</a>\n</td>\n</tr>\n\n</table>\n\n</div>\n\n<h3 style=\"color:#1565C0;\">Agenda</h3>\n\n<ul>\n<li>Introduction</li>\n<li>Understand your business requirements</li>\n<li>Product demonstration</li>\n<li>Pricing discussion</li>\n<li>Questions & Answers</li>\n<li>Next steps</li>\n</ul>\n\n<div style=\"text-align:center;margin:35px 0;\">\n\n<a href=\"{{ $json.hangoutLink }}\" class=\"button\">\nJoin Meeting\n</a>\n\n</div>\n\n<div class=\"note\">\n\n<strong>Before the meeting</strong>\n\n<ul>\n<li>Please join 5 minutes before the scheduled time.</li>\n<li>Ensure your microphone and camera are working.</li>\n<li>Prepare any questions or business requirements you'd like to discuss.</li>\n</ul>\n\n</div>\n\n<p>\nIf you need to reschedule, simply reply to this email or contact me directly.\n</p>\n\n<p>\n\nBest regards,\n\n<br><br>\n\n<strong>Fahad</strong><br>\n\nAccount Sales Executive<br>\n\nIn Our Company<br>\n\n📧 fahad.webdev119@gmail.com<br>\n</p>\n\n</div>\n\n<div class=\"footer\">\n\nThis meeting invitation was sent by <strong>IN Our Company</strong>.<br>\n\nGenerated automatically by the Lead Enrichment & Sales Automation Workflow.\n\n</div>\n\n</div>\n\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          4704,
          -864
        ],
        "id": "21160192-f6f3-44da-9446-086073628110",
        "name": "Send a mail to customer with meeting schedule",
        "webhookId": "2e283200-1748-4aff-9737-e74407682695",
        "credentials": {
          "gmailOAuth2": {
            "id": "QV3UcajD75i2QUhz",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8",
            "mode": "list",
            "cachedResultName": "qualified leads log entry sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1040985913,
            "mode": "list",
            "cachedResultName": "Qualified Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit#gid=1040985913"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Lead ID": "={{ $('Lead Routes with Type').item.json.LeadID }}",
              "Name": "={{ $('Lead Routes with Type').item.json.Name }}",
              "Email": "={{ $('Lead Routes with Type').item.json.email }}",
              "Company": "={{ $('Lead Routes with Type').item.json.Company }}",
              "Interest": "={{ $('Lead Routes with Type').item.json.Interest }}",
              "Lead Score": "={{ $('Lead Routes with Type').item.json.leadScore }}",
              "Priority": "={{ $('Lead Routes with Type').item.json.priority }}",
              "Status": "Approved"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Lead ID",
                "displayName": "Lead ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Interest",
                "displayName": "Interest",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Score",
                "displayName": "Lead Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4928,
          -864
        ],
        "id": "187adc0c-3f40-4c9b-8ec4-8a2d85514bdc",
        "name": "log entry of high priority lead",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appGTC8yvo1IaaQjW",
            "mode": "list",
            "cachedResultName": "Customer development CRM",
            "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW"
          },
          "table": {
            "__rl": true,
            "value": "tblv7JxYPC0EYR5oK",
            "mode": "list",
            "cachedResultName": "Customers",
            "cachedResultUrl": "https://airtable.com/appGTC8yvo1IaaQjW/tblv7JxYPC0EYR5oK"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Customer ID": "={{ $json.customerID }}",
              "Name": "={{ $json.Name }}",
              "Email": "={{ $json.email }}",
              "Contact Number": "={{ $json[\"Phone Number\"] }}",
              "Company": "={{ $json.Company }}",
              "Priority": "={{ $json.priority }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "Customer ID",
                "displayName": "Customer ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Contact Number",
                "displayName": "Contact Number",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.2,
        "position": [
          2688,
          -496
        ],
        "id": "2ca478a9-fa11-4a09-8abf-a41c616af49a",
        "name": "log customer entry into CRM",
        "credentials": {
          "airtableTokenApi": {
            "id": "8UJKZeYYabeNEdhg",
            "name": "Airtable Personal Access Token account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0",
            "mode": "list",
            "cachedResultName": "leads entry log sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 65984804,
            "mode": "list",
            "cachedResultName": "Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8K9B7UGWvS7fwnd3DaKmgPPBT7S5Z8qP3xeVsXWwm0/edit#gid=65984804"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Lead ID": "={{ $json.LeadID }}",
              "Name": "={{ $json.Name }}",
              "Email": "={{ $json.email }}",
              "Status": "Weakly Qualified ",
              "Reason": "={{ `Qualified with a low lead score (${ $json.leadScore }). Added to the nurture pipeline.` }}",
              "Date": "={{ $now.format('dd-MM-yyyy') }}",
              "Lead Value": "={{ $json.leadScore }}",
              "Company Name": "={{ $json.Company }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Lead ID",
                "displayName": "Lead ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Reason",
                "displayName": "Reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Value",
                "displayName": "Lead Value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company Name",
                "displayName": "Company Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2688,
          -304
        ],
        "id": "3c837943-8444-4cc2-898b-0538d65fecc1",
        "name": "log entry of low priority lead in global lead sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8",
            "mode": "list",
            "cachedResultName": "qualified leads log entry sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1040985913,
            "mode": "list",
            "cachedResultName": "Qualified Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XeBpY_xWWH5s5gUCpW8mHaGtldrpB08GGkKD4DMk0B8/edit#gid=1040985913"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Lead ID": "={{ $('Lead Routes with Type').item.json.LeadID }}",
              "Name": "={{ $('Lead Routes with Type').item.json.Name }}",
              "Email": "={{ $('Lead Routes with Type').item.json.email }}",
              "Company": "={{ $('Lead Routes with Type').item.json.data.name }}",
              "Interest": "={{ $('Lead Routes with Type').item.json.Interest }}",
              "Lead Score": "={{ $('Lead Routes with Type').item.json.leadScore }}",
              "Priority": "={{ $('Lead Routes with Type').item.json.priority }}",
              "Status": "Approved but need more nurtured"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Lead ID",
                "displayName": "Lead ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Interest",
                "displayName": "Interest",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Score",
                "displayName": "Lead Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2912,
          -304
        ],
        "id": "d40ebd9e-d33a-4f3b-a77b-5753b04d2c12",
        "name": "log entry of low priority lead in qualified lead log sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0WHa8kFysFFXtgzo",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Contact Us Form": {
        "main": [
          [
            {
              "node": "basic email validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "basic email validation": {
        "main": [
          [
            {
              "node": "3rd party email verification service",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "make entry of rejected lead into google sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "validation after 3rd email verification": {
        "main": [
          [
            {
              "node": "merge email and company enrich data",
              "type": "main",
              "index": 1
            },
            {
              "node": "company enrichment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log failed leads entry sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3rd party email verification service": {
        "main": [
          [
            {
              "node": "polish data after email verification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "polish data after email verification": {
        "main": [
          [
            {
              "node": "validation after 3rd email verification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "polish data after company verification": {
        "main": [
          [
            {
              "node": "merge email and company enrich data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "merge email and company enrich data": {
        "main": [
          [
            {
              "node": "search if lead exist",
              "type": "main",
              "index": 0
            },
            {
              "node": "merge if lead/customer exist",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "search if lead exist": {
        "main": [
          [
            {
              "node": "merge if lead/customer exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log failed leads entry sheet": {
        "main": [
          []
        ]
      },
      "Lead Routes with Type": {
        "main": [
          [
            {
              "node": "log customer entry into CRM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Copy lead file template from drive",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "log customer entry into CRM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send message to sales manager for approval",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "log customer entry into CRM",
              "type": "main",
              "index": 0
            },
            {
              "node": "log entry of low priority lead in global lead sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a PDF template": {
        "main": [
          [
            {
              "node": "convert lead file google docs to pdf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "convert lead file google docs to pdf": {
        "main": [
          [
            {
              "node": "Upload google docs as PDF to drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Copy lead file template from drive": {
        "main": [
          [
            {
              "node": "Update a PDF template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "company enrichment": {
        "main": [
          [
            {
              "node": "polish data after company verification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "merge if lead/customer exist": {
        "main": [
          [
            {
              "node": "lead scoring",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "lead scoring": {
        "main": [
          [
            {
              "node": "Lead Routes with Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message to sales manager for approval": {
        "main": [
          [
            {
              "node": "approved/disapproved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "approved/disapproved": {
        "main": [
          [
            {
              "node": "Copy lead file template from drive",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "log lead entry if sales manager disapprove",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "delete google doc": {
        "main": [
          [
            {
              "node": "Send a message to account executive for high priority lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload google docs as PDF to drive": {
        "main": [
          [
            {
              "node": "delete google doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message to account executive for high priority lead": {
        "main": [
          [
            {
              "node": "Create an meeting with customer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an meeting with customer": {
        "main": [
          [
            {
              "node": "Send a mail to customer with meeting schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a mail to customer with meeting schedule": {
        "main": [
          [
            {
              "node": "log entry of high priority lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "log customer entry into CRM": {
        "main": [
          []
        ]
      },
      "log entry of low priority lead in global lead sheet": {
        "main": [
          [
            {
              "node": "log entry of low priority lead in qualified lead log sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Muhammad fahad.webdev119@gmail.com",
    "name": "Version d36246b7",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-06-16T14:55:31.622Z",
      "createdAt": "2026-06-16T14:55:31.622Z",
      "id": "YF7kRaLLoZERdRud",
      "name": "learning"
    }
  ]
}